<div class="post-panel">
  {% unless page.tags == empty %}
    <h5>Tags</h5>
    <ul class="tag_box inline">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  
</div>

<div class="blog-post">
  <h3>{{ page.title }}</h3>
  <div class="post-header">
    <span class="author"> {{ page.by }}</span>
    <span class="date"><i class="icon-time">&nbsp;</i>{{ page.date | date: "%b %d, %Y" }}</span>
    <span class="category"><i class="icon-globe">&nbsp;</i>{{ page.category }}</span>
  </div>
  <div class="content">
    {{ content }}
  </div>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  


</div> 

