<div class="wrapNextPrev">
  {% if page.previous %}
    <a id="prevMenuItem" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a>
  {% else %}
    <a id="prevMenuItem" disabled="disabled" style="color: rgb(187, 187, 187);">Previous</a>
  {% endif %}
               
  {% if page.next %}
    <a id="nextMenuItem" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next</a>
  {% else %}
    <a id="nextMenuItem" disabled="disabled" style="color: rgb(187, 187, 187);">Next</a>
  {% endif %}
</div>