---
layout: default_profile
title: 'Nexteppe - An Edmunds Certified Developer'

name_developer: Nexteppe
name: Nexteppe
certified_since: 05/23/2013
location: Bohemia, NY
email: contact@nexteppe.com
phone: (631) 750-1200
skype:
twitter: nexteppe
image_icon_developer: nexteppe.png
badges: [web, mobile, socialShopping, analytics]

developer_description: "We use online marketing strategies to help U.S. auto dealers increase profits in every aspect of their business. By offering a suite of easy-to-use products such as custom designed websites, automotive search engine optimization, viral marketing, mobile marketing, inventory management, social media marketing, and personalized new and used car videos, we have created a diverse platform in order to reach the most potential customers possible, and drive them to your dealership's front doors."
developer_category: Enterprise
work_examples: 
  - name: inControl Pro
    url: "http://incontrolpro.net/HowTo.aspx"
  - name: Value Your Trade Tool
    url: "http://www.nexteppe.com/value-your-trade.aspx"
---


<link rel="STYLESHEET" type="text/css" href="{{ PATH }}/assets/themes/twitter/css/dhtmlxchart/dhtmlxchart.css">
<script type="text/javascript"  src="{{ PATH }}/assets/themes/twitter/js/dhtmlxchart/dhtmlxchart.js"></script>

<div class="wrapperProfile">

	{% include themes/twitter/certified-dev/developer_page.html %}

	<div class="wrapperComments">

			<h2>Feedback comments</h2>

			<!-- Start row of comments -->
			<div class="row-fluid">
				<div class="span6 blockRating">

					<h4>UI work for TMV Widget</h4>
					<div class="resultRating">

						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<span class="amoutStars">0.0</span>

					</div>
					<div data-rating="5;5;4;4;4;5" class="rating">

						{% include themes/twitter/certified-dev/developer_rating.html %}

					</div>
					<p class="discription">
						“Nexteppe is a fine example of smart people taking our API and turning it into a lucrative business. The inControl Pro and Trade-in tool have proven to be great tool for consumers and dealerships alike. We're proud to be working closely with Nexteppe on the next-generation apps that deliver the best data and the best experience to automotive consumers.”
					</p>
					<div class="annotator">- Ismail Elshareef, Director, Edmunds.com</div>

				</div>
			</div>
			<!-- End row of comments -->

			<a class="standart-btn" href="http://fs16.formsite.com/ielshareef/form3/index.html" target="_blank" title="Send us feetback about developer">Send us feetback about developer</a>

		</div>

</div>


{% include themes/twitter/certified-dev/full_profile_scripts.html %}