---
layout: default_profile
title: 'Nexteppe - An Edmunds Certified Developer'

name_developer: Nexteppe
name: Nexteppe
certified_since: 05/23/2013
location: Bohemia, NY
email: contact@nexteppe.com
phone: (631) 750-1200
skype:
twitter: nexteppe
image_icon_developer: nexteppe.png
badges: [web, mobile, analytics, socialShopping]
---


<link rel="STYLESHEET" type="text/css" href="{{ PATH }}/assets/themes/twitter/css/dhtmlxchart/dhtmlxchart.css">
<script type="text/javascript"  src="{{ PATH }}/assets/themes/twitter/js/dhtmlxchart/dhtmlxchart.js"></script>

<div class="wrapperProfile">

	<header>

		<a href="mailto:{{page.email}}" class="standart-btn">Contact {{page.name}}</a>
		<h1>{{page.name_developer}}</h1>
		<p>We use online marketing strategies to help U.S. auto dealers increase profits in every aspect of their business. By offering a suite of easy-to-use products such as custom designed websites, automotive search engine optimization, viral marketing, mobile marketing, inventory management, social media marketing, and personalized new and used car videos, we have created a diverse platform in order to reach the most potential customers possible, and drive them to your dealership's front doors.</p>
		<a href="/certified-dev/search_the_directory.html" title="Close" class="iconClose">&nbsp;</a>
	</header>

	<section class="inform">

		<div class="blockGeneralExampl clearfix">
			<!-- WORK EXAMPLES -->
			<div class="blockInform wrapperExamples">
				<h3>WORK EXAMPLES</h3>
				<span>Client’s examples for the work was created</span>
				<ul>
					<li><a href="http://incontrolpro.net/HowTo.aspx" title="carhound.com">inControl Pro</a></li>
					<li><a href="http://www.nexteppe.com/value-your-trade.aspx" title="relayrides.com">Value Your Trade Tool</a></li>
				</ul>
			</div>


			<!-- Icon of the developer -->
			<div class="wrapperIconDeveloper">
				<div class="imgFrame">

						<img src="{{PATH}}/assets/themes/twitter/img/certified_developer/search_the_directory/frames/
						{% for p in page.badges %}
							{% if p == 'analytics' %}analytics{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'mobile' %}mobile{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'socialShopping' %}socialShopping{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'web' %}web{%  endif %}
						{% endfor %}
						.png" alt=""/>

				</div>
				<img src="{{PATH}}/assets/themes/twitter/img/certified_developer/icon_developer/{{page.image_icon_developer}}" alt="{{page.name}}" />

			</div>

			<!-- General -->
			<div class="blockInform wrapperGeneral">
				<h3>General</h3>
				<ul class="clearfix addInf">
					<li>Enterprise</li>
					<li>Certified since {{page.certified_since}}</li>
				</ul>
				<div class="badges">
					<span>Qualification:</span>
					<ul id="iconBadge" class="clearfix">

						{% for p in page.badges %}

							<li><a data-badge="{{p}}" class="badge-{{p}}" href="/certified-dev/cdp_badge.html#{{p}}" rel="tooltip" data-original-title="{{p}}"></a></li>

						{% endfor %}

					</ul>
				</div>
			</div>

		</div>

		<div class="blockContactReviews clearfix">
			<!-- REVIEWS -->
			<div class="blockInform wrapperReviews">
				<h3>Reviews</h3>
				<div class="resultRating">
					<ul class="ratingStar">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
					<span class="amoutStars">0.0</span>
				</div>
				<div id="chartDiv"></div>
			</div>

			<!-- Contacts -->
			<div class="blockInform wrapperContsnts">
				<h3>Contacts</h3>
				<ul>
					{% if page.location != null %}
						<li><span class="location">{{page.location}}</span></li>
					{% endif %}

					{% if page.email != null %}
						<li><span class="email"><a href="mailto:{{page.email}}">{{page.email}}</a></span></li>
					{% endif %}

					<li>
						{% if page.phone != null %}
							<span class="phone">{{page.phone}}</span>
						{% endif %}

						{% if page.skype != null %}
							<span class="skype">{{page.skype}}</span>
						{% endif %}

						{% if page.twitter != null %}
							<span class="twitter">{{page.twitter}}</span>
						{% endif %}
					</li>
				</ul>
			</div>

		</div>



	</section>

	<div class="wrapperComments">

			<h2>Feedback comments</h2>

			<!-- Start row of comments -->
			<div class="row-fluid">
				<div class="span6 blockRating">

					<h4>UI work for TMV Widget</h4>
					<div class="resultRating">

						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<span class="amoutStars">0.0</span>

					</div>
					<div data-rating="5;5;4;4;4;5" class="rating">

						<ul>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Quality
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Expertise
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Cost
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Schedule
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Response
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Professional
							</li>
						</ul>

					</div>
					<p class="discription">
						“Nexteppe is a fine example of smart people taking our API and turning it into a lucrative business. The inControl Pro and Trade-in tool have proven to be great tool for consumers and dealerships alike. We're proud to be working closely with Nexteppe on the next-generation apps that deliver the best data and the best experience to automotive consumers.”
					</p>
					<div class="annotator">- Ismail Elshareef, Director, Edmunds.com</div>

				</div>
			</div>
			<!-- End row of comments -->

			<a class="standart-btn" href="http://fs16.formsite.com/ielshareef/form3/index.html" target="_blank" title="Send us feetback about developer">Send us feetback about developer</a>

		</div>

</div>



<!-- Script for changing frame of the icon of the developrt -->

<script type="text/javascript">

	$(function(){

		var $iconBadge = $('#iconBadge').find('li a');

		var amountBadge = $iconBadge.length;

		var wrappIconDev = $('.wrapperIconDeveloper');

		wrappIconDev.addClass('iconBadges'+ amountBadge +'');

	});

</script>

<script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/profile_rating.js"></script>

{% comment %}<!-- Script for showing tooltops -->{% endcomment %}
<script type="text/javascript">

	$(function(){

		$('#iconBadge a').tooltip('toggle');
		$('#iconBadge a').tooltip('hide')

	});

</script>