---
layout: default_profile
title: 'Nick Sergeant - An Edmunds Certified Developer'

name_developer: Nick Sergeant
name: Nick
certified_since: 08/05/2013
location: Rochester, NY
email: nick@nicksergeant.com
phone: (315) 719-2047
skype: nicksergeant
twitter: '@nicksergeant'
image_icon_developer: 'nick-sergeant.png'
badges: [web, mobile]
---


<link rel="STYLESHEET" type="text/css" href="{{ PATH }}/assets/themes/twitter/css/dhtmlxchart/dhtmlxchart.css">
<script type="text/javascript"  src="{{ PATH }}/assets/themes/twitter/js/dhtmlxchart/dhtmlxchart.js"></script>

<div class="wrapperProfile">

	<header>

		<a href="mailto:{{page.email}}" class="standart-btn">Contact {{page.name}}</a>
		<h1>{{page.name_developer}}</h1>
		<p>I'm a front-end and back-end engineer working in Python and JavaScript (Django, Node.js, AngularJS, etc).</p>
		<a href="/certified-dev/search_the_directory.html" title="Close" class="iconClose">&nbsp;</a>
	</header>

	<section class="inform">

		<div class="blockGeneralExampl clearfix">
			<!-- WORK EXAMPLES -->
			<div class="blockInform wrapperExamples">
				<h3>WORK EXAMPLES</h3>
				<span>Client’s examples for the work was created</span>
				<ul>
					<li><a href="http://showroom.is" title="showroom.is">http://showroom.is</a></li>
				</ul>
			</div>


			<!-- Icon of the developer -->
			<div class="wrapperIconDeveloper">
				<div class="imgFrame">

						<img src="{{PATH}}/assets/themes/twitter/img/certified_developer/search_the_directory/frames/
						{% for p in page.badges %}
							{% if p == 'analytics' %}analytics{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'mobile' %}mobile{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'socialShopping' %}socialShopping{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'web' %}web{%  endif %}
						{% endfor %}
						.png" alt=""/>

				</div>
				<img src="{{PATH}}/assets/themes/twitter/img/certified_developer/icon_developer/{{page.image_icon_developer}}" alt="{{page.name}}" />

			</div>

			<!-- General -->
			<div class="blockInform wrapperGeneral">
				<h3>General</h3>
				<ul class="clearfix addInf">
					<li>Individual</li>
					<li>Certified since {{page.certified_since}}</li>
				</ul>
				<div class="badges">
					<span>Qualification:</span>
					<ul id="iconBadge" class="clearfix">

						{% for p in page.badges %}

							<li><a data-badge="{{p}}" class="badge-{{p}}" href="/certified-dev/cdp_badge.html#{{p}}"></a></li>

						{% endfor %}

					</ul>
				</div>
			</div>

		</div>

		<div class="blockContactReviews clearfix">
			<!-- REVIEWS -->
			<div class="blockInform wrapperReviews">
				<h3>Reviews</h3>
				<div class="resultRating">
					<ul class="ratingStar">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
					<span class="amoutStars">0.0</span>
				</div>
				<div id="chartDiv"></div>
			</div>

			<!-- Contacts -->
			<div class="blockInform wrapperContsnts">
				<h3>Contacts</h3>
				<ul>
					<li><span class="location">{{page.location}}</span></li>
					<li><span class="email"><a href="mailto:{{page.email}}">{{page.email}}</a></span></li>
					<li>
						<span class="phone">{{page.phone}}</span>
						<span class="skype">{{page.skype}}</span>
						<span class="twitter">{{page.twitter}}</span>
					</li>
				</ul>
			</div>

		</div>



	</section>

	<div class="wrapperComments">

			<h2>Feedback comments</h2>

			<!-- Start row of comments -->
			<div class="row-fluid">
				<div class="span6 blockRating">

					<h4>Best New Car Search Online!</h4>
					<div class="resultRating">

						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<span class="amoutStars">0.0</span>

					</div>
					<div data-rating="5;5;4;4;5;5" class="rating">

						<ul>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Quality
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Expertise
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Cost
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Schedule
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Response
							</li>
							<li>
								<ul class="ratingSquare">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
								Professional
							</li>
						</ul>

					</div>
					<p class="discription">
						“Nick is super smart and super dedicated. What he has done with <a href="http://showroom.is" target="_blank">showroom.is</a> is impressive and that's just the beginning. I've never seen a car search work so fast.”
					</p>
					<div class="annotator">- Ismail Elshareef, Director, Edmunds.com</div>

				</div>
			</div>
			<!-- End row of comments -->

			<a class="standart-btn" href="http://fs16.formsite.com/ielshareef/form3/index.html" title="Send us feetback about developer" target="_blank">Send us feetback about developer</a>

		</div>

</div>



<!-- Script for changing frame of the icon of the developrt -->
<script type="text/javascript">

	$(function(){

		var $iconBadge = $('#iconBadge').find('li a');

		var amountBadge = $iconBadge.length;

		var wrappIconDev = $('.wrapperIconDeveloper');

		wrappIconDev.addClass('iconBadges'+ amountBadge +'');

	});

</script>

<script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/profile_rating.js"></script>