---
layout: default_profile
title: 'Nick Sergeant - An Edmunds Certified Developer'

name_developer: Nick Sergeant
name: Nick
certified_since: 08/05/2013
location: Rochester, NY
email: nick@nicksergeant.com
skype: nicksergeant
twitter: '@nicksergeant'
image_icon_developer: 'nick-sergeant.png'
badges: [web, mobile]

developer_description: "I'm a front-end and back-end engineer working in Python and JavaScript (Django, Node.js, AngularJS, etc)."
developer_category: Individual
work_examples: 
  - name: http://showroom.is
    url: "http://showroom.is"
---


<link rel="STYLESHEET" type="text/css" href="{{ PATH }}/assets/themes/twitter/css/dhtmlxchart/dhtmlxchart.css">
<script type="text/javascript"  src="{{ PATH }}/assets/themes/twitter/js/dhtmlxchart/dhtmlxchart.js"></script>

<div class="wrapperProfile">

	{% include themes/twitter/certified-dev/developer_page.html %}

	<div class="wrapperComments">

			<h2>Feedback comments</h2>

			<!-- Start row of comments -->
			<div class="row-fluid">
				<div class="span6 blockRating">

					<h4>Best New Car Search Online!</h4>
					<div class="resultRating">

						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>
						<ul class="greyRatingStars">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<span class="amoutStars">0.0</span>

					</div>
					<div data-rating="5;5;4;4;5;5" class="rating">

						{% include themes/twitter/certified-dev/developer_rating.html %}

					</div>
					<p class="discription">
						“Nick is super smart and super dedicated. What he has done with <a href="http://showroom.is" target="_blank">showroom.is</a> is impressive and that's just the beginning. I've never seen a car search work so fast.”
					</p>
					<div class="annotator">- Ismail Elshareef, Director, Edmunds.com</div>

				</div>
			</div>
			<!-- End row of comments -->

			<a class="standart-btn" href="http://fs16.formsite.com/ielshareef/form3/index.html" title="Send us feedback about developer" target="_blank">Send us feedback about developer</a>

		</div>

</div>
<script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/profile_rating.js"></script>