---
layout: default_profile
title: 'VINSNAP - An Edmunds Certified Developer'

name_developer: VINSNAP
name: VINSNAP
certified_since: 02/15/2013
location: Atlanta, GA
email: contactus@vinsnap.com
phone:
skype: vinsnap2011
twitter: '@vinsnap'
image_icon_developer: 'vinsnap.png'
badges: [web, mobile, analytics]

developer_description: 'Cars are personal, and at VINSNAP we believe car-shopping experiences should be too.  We design, develop and deploy web and mobile consumer-focused vehicle shopping and service solutions.  Our team has over 10 years of experience in the automotive industry with expert knowledge in the areas of analytics, consulting services, consumer behavior research and marketing research.'
developer_category: Enterprise
work_examples: 
  - name: iOS App
    url: "https://itunes.apple.com/us/app/vinsnap/id538400300?mt=8"
  - name: Android App
    url: "https://play.google.com/store/apps/details?id=com.itanyplace.vinsnap&hl=en"
---


<link rel="STYLESHEET" type="text/css" href="{{ PATH }}/assets/themes/twitter/css/dhtmlxchart/dhtmlxchart.css">
<script type="text/javascript"  src="{{ PATH }}/assets/themes/twitter/js/dhtmlxchart/dhtmlxchart.js"></script>

<div class="wrapperProfile">

	{% include themes/twitter/certified-dev/developer_page.html %}

	<div class="wrapperComments">

			<h2>Feedback comments</h2>

			<!-- Start row of comments -->
			<div class="row-fluid">
				<div class="span6 blockRating">

					<h4>A Great Solution Provider!</h4>
					<div class="resultRating">

						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>
						<ul class="greyRatingStars">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<span class="amoutStars">0.0</span>

					</div>
					<div data-rating="5;5;5;4;5;5" class="rating">

						{% include themes/twitter/certified-dev/developer_rating.html %}

					</div>

					<p class="discription">
						“VINSNAP is a great app designed and developed by folks that understand car shopping well. They have leveraged the Edmunds API so well, and we're looking forward to working with them on other projects in the near future.”
					</p>
					<div class="annotator">- Ismail Elshareef, Director, Edmunds.com</div>

				</div>
			</div>
			<!-- End row of comments -->

			<a class="standart-btn" href="http://fs16.formsite.com/ielshareef/form3/index.html" title="Send us feedback about developer" target="_blank">Send us feedback about developer</a>

		</div>

</div>
<script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/profile_rating.js"></script>