	<header>

		<a href="mailto:{{page.email}}" class="standart-btn full-profile-contact">Contact {{page.name}}</a>
		<h1>{{page.name_developer}}</h1>
		<p>{{page.developer_description}}</p>
		<a href="/certified-dev/search_the_directory.html" title="Close" class="iconClose">&nbsp;</a>
	</header>

	<section class="inform">

		<div class="blockGeneralExampl clearfix">
			<!-- WORK EXAMPLES -->
			<div class="blockInform wrapperExamples">
				<h3>WORK EXAMPLES</h3>
				<span>Client’s examples for the work was created</span>
				<ul>
				{% for link in page.work_examples %} 
		            <li><a href="{{ link.url }}" title="{{ link.name }}" target="_blank">{{ link.name }}</a></li>
		        {% endfor %}
				</ul>
			</div>


			<!-- Icon of the developer -->
			<div class="wrapperIconDeveloper">
				<div class="imgFrame">

						<img src="{{PATH}}/assets/themes/twitter/img/certified_developer/search_the_directory/frames/
						{% for p in page.badges %}
							{% if p == 'analytics' %}Analytics{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'mobile' %}Mobile{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'socialShopping' %}Social Shopping{%  endif %}
						{% endfor %}

						{% for p in page.badges %}
							{% if p == 'web' %}Web{%  endif %}
						{% endfor %}
						.png" alt=""/>

				</div>
				<img class="iconDev" src="{{PATH}}/assets/themes/twitter/img/certified_developer/icon_developer/{{page.image_icon_developer}}" alt="{{page.name}}" />

			</div>

			<!-- General -->
			<div class="blockInform wrapperGeneral">
				<h3>General</h3>
				<ul class="clearfix addInf">
					<li>{{page.developer_category}}</li>
					<li>Certified since {{page.certified_since}}</li>
				</ul>
				<div class="badges">
					<span>Qualification:</span>
					<ul id="iconBadge" class="clearfix">

						{% for p in page.badges %}

							<li><a data-badge="{{p}}" class="badge-{{p}}" href="/certified-dev/cdp_badge.html#{{p}}" rel="tooltip" data-original-title="{{p}}"></a></li>

						{% endfor %}

					</ul>
				</div>
			</div>

		</div>

		<div class="blockContactReviews clearfix">
			<!-- REVIEWS -->
			<div class="blockInform wrapperReviews">
				<h3>Reviews</h3>
				<div class="resultRating">
					<div class="ratingWrap">
						<ul class="ratingStar">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>
						<ul class="greyRatingStars">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>
					</div>
					<span class="amoutStars">0.0</span>
				</div>
				<div id="chartDiv"></div>
			</div>

			<!-- Contacts -->
			<div class="blockInform wrapperContsnts">
				<h3>Contacts</h3>
				<ul>
					{% if page.location != null %}
						<li><span class="location">{{page.location}}</span></li>
					{% endif %}

					{% if page.email != null %}
						<li><span class="email"><a href="mailto:{{page.email}}">{{page.email}}</a></span></li>
					{% endif %}

					<li>
						{% if page.phone != null %}
							<span class="phone">{{page.phone}}</span>
						{% endif %}

						{% if page.skype != null %}
							<span class="skype">{{page.skype}}</span>
						{% endif %}

						{% if page.twitter != null %}
							<span class="twitter">{{page.twitter}}</span>
						{% endif %}
					</li>
				</ul>
			</div>

		</div>

	</section>