.accordion .accordion-group a {
	background-position:left -92px;
}

.accordion .accordion-group a.active {
	background-position:left 40px; 
}
a:active, a:links, a:focus {
	background: none;
}

