/*__style of Retina__*/

.topLogo {
  display: block;
  height: 103px;
  width: 93px;
  background-image: url('../img/api-logo.png');
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 1.5dppx),
       only screen and (-o-min-device-pixel-ratio: 3/2) {
  .topLogo {
    background-image: url('../img/api-logo@2x.png');
    background-size: 93px 103px;
  }
}
a.topLogo:hover {
	text-decoration: none;
}
 /*__font-family__*/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../font-famaly/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oswald400';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../font-famaly/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
@font-face {
  font-family: 'Oswald700';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../font-famaly/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


/*__end font-family__*/
h1,h2,h3 {
	padding-top:0.5em;
	font-family: 'Oswald400', "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

h4,h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	padding-top:0.5em;
	margin: 0 0 0.3em 0;
	}

table h1, table h2, table h3, table h4, table h5, table h6 {
	margin: 10px 0 24px;
}
table ol, table p {
	margin:0;
}


h3 {
	line-height:1.3;
}
body, html {
	height:100%;
	font-family:Arial, sans-serif;
	color: #444;
}

body, html {
  height:100%;
  background: #f2f2f2;
}

.pushTop {
  height: 117px;
}
.pushBottom {
  height: 128px;
}
.wrapperPage {
	position:relative;
  height: auto !important;
  margin: -117px auto -128px;
  min-height: 100%;
}

.footerLayout {
	position: relative;
}

/* Override some defaults */
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background: none;
  padding: 0;
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/*__Start Header__*/
header {
  position:relative;
  padding: 14px 0 0 0;
}

.topBlogBackground {
  position: absolute;
  top: 0;
  height: 91px;
  width: 100%;
  background: #dedede;
}
.register {
  float: left;
  margin: 0 25px 0 0;
  font-size: 9px;
  color: #999;
  line-height: 15px;
}
.register img {
  margin: 0 7px 0 0;
  vertical-align: baseline;
}
.register a,
.register a:active,
.register a:link,
.register a:focus {
  color: #BF2F37;
}
.headerLinks a, .headerLinks span {
  font-weight:700;
  font: bold 9px/20px Arial;
  text-transform: uppercase;
}
.headerLinks a:hover, .headerLinks a:active {
	color: #90BE3F;
	text-decoration: none;
}
nav.headerLinks {
  margin: 14px 0 13px;
}
.navbar nav.headerMenu a {
  display: inline-block;
  padding: 0;
  margin-right: 25px;
  color:#444;
  border-bottom: 1px solid #444;
  font: 25px/31px 'Oswald400';
  text-transform: lowercase;
}
.headerMenu a:hover {
  border-bottom: 0;
}
.navbar nav.headerLinks ul a {
  padding: 0 20px 0 0;
  color:#555;
  font: bold 9px/23px Arial;
}
.navbar-inner {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
.navbar a.linkGetStart {
	color: #fff;
}
a.linkGetStart {
	position:absolute;
	right:0;
	width:180px;
  margin-top: 16px;
  padding: 30px 0  6px 0;
  color: #fff;
  font: 26px 'Oswald400';
  text-transform: lowercase;
  text-align: center;
  background: #444;
}
.linkGetStart:hover, .linkGetStart:focus {
	color:#fff;
	text-decoration: none;
}
.navbar .nav a.active,
.navbar .nav a.active:hover,
.navbar .nav a.active:focus {
  border-bottom: 0;
  color: #bf2f37;
  text-decoration: none;
  background: none;
  box-shadow: none;
}
.headerMenuContent .navbar .nav > li > a {
	display: block;
	padding: 7px 30px;
	border-bottom: 3px solid #F2F2F2;
}
.navbar .nav > li:last-child > a {
	margin-right: 0;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #90BE3F;
}
.navbar nav.headerMenu a:hover {
	border-bottom:0;
}
.topHeader .navbar nav {
	margin-left: 30px;
}
.navbar-inner {filter: none;}

/*__End Header__*/


/*__Start Footer__*/
.footerLayout {
	position: relative;
	z-index: 101;
}
footer.navbar {
  height: 128px;
  background: #dedede url(../img/bg_footer.gif) top repeat-x;
}

footer.navbar .container {
	width: 1170px;
}
footer.navbar .span6 {
  margin: 0;
}
.social nav p {
  margin: 0;
  width: 158px;
  margin: 6px 28px 20px 0;
  color:#666;
  font-size: 11px;
  line-height: 15px;
}
.social nav .nav  {
  margin: 0;
}
.social nav p, .social nav .nav {
  float: right;
}
.social nav .nav {
  margin-top: 7px;
}
footer  .social nav .nav li a {
  padding: 0;
  margin: 0 20px 0 0;
}
.social nav .nav li:last-child a {
  margin: 0;
}
footer.navbar .footerLinks {
  margin: 45px 0 0 0;
}
footer.navbar .footerLinks .nav {
  line-height: 36px;
}
footer.navbar .social {
	float:right;
  margin: 40px 0 0 0;
}
footer.footerLayout .nav > li > a {
	padding: 10px 30px 10px 0;
	color: #444;
	font-size:9px;
	font-weight: 700;
	text-transform: uppercase;
}
/*__End Footer**/



/*__Start Content__*/

.sectionContent h1,
.sectionContent h2,
.sectionContent h3,
.sectionContent h4,
.sectionContent h5,
.sectionContent h6 {
	font-family: 'Oswald400', Arial, sans-serif;
}
.sectionContent {
	margin-left: 0;
}
.sectionContent header {
  padding: 35px 0 0 0;
  border: 0;
}
.sectionContent header h1 {
  padding: 0 0 35px 29px;
  margin:0;
  border-bottom:1px solid #ccc;
  font: 26px/26px 'Oswald400';
  color: #444;
  text-transform: uppercase;
}
.sectionContent section {
	padding: 35px 0 121px 29px;
}
.headerMenuContent a {
  padding: 15px 42px 12px 0px
}
.headerMenuContent .navbar .nav a.active,
.headerMenuContent .navbar .nav a.active:hover,
.headerMenuContent .navbar .nav a.active:focus {
  border-bottom: 3px solid #bf2f37;
  color: #444;
}
.sectionContent .navbar nav {
  border-bottom: 1px solid #ccc;
}
.leftMenuFixed.fixed, .headerMenuContent.fixed  {
	z-index:100;
	position: fixed;
	top: 0;
	background: #F2F2F2;
}
.headerMenuContent.fixed {
	box-shadow: 0 2px 3px #dad8d8 ;
}
.blogGray {
	margin:0 0 31px 0;
	padding: 0 28px;
	font-weight:700;
	line-height:56px;
	background: #dedede;
}
.tableDate {
	margin: 0 0 21px 0;
	padding:7px 25px;
	background: #dedede;
}
.tableDate tr td:first-child {
	font-weight: 700;
}
.tableDate tr td {
	padding: 0 20px 9px 0;
}
.sectionContent h5 {
	margin-bottom:4px;
	font-family: Arial, sans-serif;
}
	/*__start table Parametrs__*/
	table,
	.tableParametrs {
		margin: 0 0 30px 0;
		width: 100%;
	}
	table th,
	.tableParametrs th {
		padding: 13px 15px;
		color: #fff;
		font-weight: bold;
		text-align: left;
		background: #444;
	}
	table td,
	.tableParametrs td {
		padding: 10px 15px;
		vertical-align: top;
		border: 1px solid #dedede;
	}
	tr:hover td{
	background: #ececec;
	}
	table .text-info,
	.tableParametrs .text-info {
		margin: 0 0 5px 0;
		font-weight: 700;
	}

	/*__end table Parametrs__*/

	/*__Start Navigation left menu "Next & Previos"__*/
	.wrapNextPrev {
		position:absolute;
		bottom: 0;
    	left: 230px;
    	right:0;
		border-top:1px solid #ccc;
		padding: 22px 29px;
	}
	#prevMenuItem, #nextMenuItem {
		display:inline-block;
		font: 14px/38px 'Oswald400', Arial;
		background-image: url('../img/sprite_next_prev.gif');
		background-repeat: no-repeat;
		text-transform: uppercase;
	}
	#prevMenuItem {
		padding:0 0 0 24px;
		background-position: 0 0;
	}
	#nextMenuItem {
		float: right;
		padding:0 24px 0 0;
		background-position: 100% -38px;
	}
	#prevMenuItem:hover, #nextMenuItem:hover {
		text-decoration: none;
	}
	/*__End Navigation left menu "Next & Previos"__*/

	/*__Start style code__*/
	pre {
		margin-bottom: 33px;
		background: #333;
	}
	/*__End style code*/

a.pdfLink {
	padding: 5px 26px 0 20px;
	color: #336699;
	font: 11px/18px Arial, sans-serif;
	text-transform: uppercase;
	background: url('../img/pdf-link.png') left center no-repeat;
}
a.pdfLink:hover {
	color: #90BE3F;
	text-decoration: none;
}
	/*__Start table "AVAILABLE API’S"__*/
	.overviewTable {
		margin: 0 0 40px 0;
		background: url('../img/bg_table_api.gif') left repeat-y transparent;
	}
	.overviewTableTH {
		color: #fff;
		text-transform: uppercase;
		background: #444;
	}
	.overviewTable .odd {
		background: #fff;
	}
	.overviewTableThMob {
		display: none;
	}
	.overviewTableTH {
		border-bottom:1px solid #3d3d3d;
		color:#fff;
		font: 18px/39px Arial, sans-serif;
	}
	.parenCategory{
		padding: 20px;
	}
	.editorialTableTr,
	.inventoryTableTr,
	.dealerTableTr {
		border-top: 1px solid #fff;
	}
	.parenCategory a.icons {
		float: left;
		margin: 2px 20px 0 0;
		border: 0;
	}
	.overviewTable .parenCategory a {
		color: #fff;
	}
	.parenCategory h2,
	.parenCategory p,
	.parenCategory a {
		margin: 0;
		color: #fff;
	}
	.parenCategory h2 {
		margin-bottom:14px;
		font:700 18px/18px Arial, sans-serif;
	}
	.parenCategory p,
	.parenCategory a {
		font-size:12px;
		line-height: 15px;
	}

	.parenCategory a {
		display:inline-block;
		border-bottom: 1px dashed #fff;
		color: #fff;
	}
	.parenCategory a:hover {
		border-bottom: 1px dashed #336699;
		text-decoration: none;
	}
	.subcategory {
		background: #F2F2F2;
	}
	.subcategory a {
		color: #336699;
		font-size: 12px;
	}
	.subcategory a:hover {
		color: #90BE3F;
		text-decoration: none;
	}
	.vehicleTableTr .subcategory {
		padding: 0;
	}
	.subcategory .odd .span4,
	.subcategory .even .span4 {
		padding: 0 0 0 29px;
		line-height: 26px;
	}
	.row-fluid [class*="span"] {
		min-height: 26px;
	}
	.editorialTableTr .odd .span4,
	.editorialTableTr .even .span4 {
		line-height: 83px;
	}
	.inventoryTableTr .odd .span4,
	.inventoryTableTr .even .span4 {
		line-height: 69px;
	}
	.dealerTableTr .odd .span4,
	.dealerTableTr .even .span4 {
		line-height: 69px;
	}
	.subcategory .rowCostCategory .span8 .span4 {
		line-height: 53px;
	}
	.subcategory .rowRatingReview .span8 .span4 {
		line-height: 53px;
	}
	.overviewTableTH .span6{
		padding-left: 21px;
	}
	/*__End table "AVAILABLE API’S"__*/
/*__End Content__*/


/*__Left Column Menu__*/
.leftMenuFixed {
	overflow: hidden;
}
.select_version_api {
	display: block;
	margin: 29px 20px 0 0;
}
.span2.collumnMenu, #leftMenuFixed {
	width:200px;
}
.collumnMenu .select_version_api a.value_selected_item,
.collumnMenu .select_version_api.open .btn.dropdown-toggle  {
	display:block;
	padding:0 0 0 16px;
	border:0;
	border-radius:0;
	color:#f0f0f0;
	font-size:13px;
	line-height:36px;
	box-shadow:none;
	text-shadow:none;
	background: #444;
}
.carretWrapper {
	float: right;
	margin-left:13px;
	border-left: 1px solid #666;
}
.carretWrapper .caret {
	margin: 16px 12px 0 11px;
	border-top-color: #fff;
}
.collumnMenu .select_version_api a.value_selected_item:hover .carretWrapper,
.collumnMenu .select_version_api.open .btn.dropdown-toggle .carretWrapper {
	background: #90be3f;
}
.collumnMenu .select_version_api.open .dropdown-menu {
	min-width:100%;
	margin-top:8px;
	padding:0;
	border:0;
	border-radius: 0;
	box-shadow: 0 1px 3px #C1C1C1;
	background: none;
}
.collumnMenu .select_version_api.open .dropdown-menu a {
	border-width:0 0 1px 0;
	border-style:solid;
	border-color: #d2d2d2;
	padding: 0 16px;
	color:#444;
	font: bold 13px/13px Arial;
	background: #fff;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip {
	background: #90be3f;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip span {
	color: #fff;
	font-size: 12px;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip span,
.collumnMenu .select_version_api.open .dropdown-menu a {
	display:block;
	padding: 13px 16px;
}
.collumnMenu .select_version_api.open .dropdown-menu a:hover {
	color:#90be3f;
	background: #fff;
	filter: none;
}
.collumnMenu .select_version_api.open .selectCaret {
	position: absolute;
	bottom:-8px;
	right:12px;
	border-bottom:5px solid #90be3f;
	border-top: 0;
}
.collumnMenu .select_version_api.open .selectCaret {
	display: block;
}
.collumnMenu .select_version_api .selectCaret {
	display: none;
}
ul.multiLevelMenu {
	margin: 31px 20px 10px 0;
}
.multiLevelMenu li {
	padding: 8px 0;
	list-style: none;
	font-size: 13px;
}
.multiLevelMenu li ul {
	margin:10px 0 0 20px;
}
.multiLevelMenu li ul li {
    padding: 8px 0;
	line-height: 17px;
}
.multiLevelMenu > li > a {
	font-weight: 700;
}
.multiLevelMenu a,
.multiLevelMenu a:link,
.multiLevelMenu a:active,
.multiLevelMenu a:focus {
	color:#444;
	font-size: 13px;
}
.multiLevelMenu a:hover {
	color: #90BE3F;
	text-decoration: none;
}
.multiLevelMenu a.active {
	color: #BF2F37;
}
.verticalLine {
	z-index:2;
	position:absolute;
	top: 97px;
	left:191px;
	bottom:0;
	width: 8px;
	border-right: 1px solid #ccc;
	background: #E7E7E7;
}
.multiLevelMenu a.active, .multiLevelMenu a.active:hover {
	color:#BF2F37
}
#valActiveLeftMenu {
	position: absolute;
    visibility: hidden;
}
.jspVerticalBar {
	z-index:2;
	width: 8px;
}
.jspDrag {
	background: #b1b1b1;
}
.jspTrack {
	background: #e7e7e7;
}
 /* Large desktop */


/*-----------------@media  only screen (min-width: 1200px)-----------------*/

@media (min-width: 1200px) {

}
/*-----------------@media only screen (max-width: 1200px)-----------------*/
@media (min-width: 980px) and (max-width: 1200px) {
	.editorialTableTr .odd .span4,
	.editorialTableTr .even .span4 {
		line-height: 92px;
	}
	.inventoryTableTr .odd .span4,
	.inventoryTableTr .even .span4 {
		line-height: 78px;
	}
	.dealerTableTr .odd .span4,
	.dealerTableTr .even .span4 {
		line-height: 78px;
	}
	.overviewTable .parenCategory {
		padding: 13px 5px;
	}
	.overviewTable .row-fluid .span2 { padding-left: 12px !important;}
	.row-fluid:not([class*="overviewTable"]) .span6 { width: 552px; float: left; }
	.wrapperHeader .row-fluid .span6 { width: 470px; }
	.wrapperMainPage .span6 { width: 552px; float: left; }
	.wrapperMainPage .span3 { width: 269px; float: left; margin-right: 18px;}
	.wrapperMainPage .section4 .row-fluid .span3 { width: 250px; }


	.row-fluid.info .span3 { width: 132px; float: left;}
	.row-fluid.info .span4 { width: 180px; float: left; margin-left: 15px; }

	.row-fluid .span10.navbar { margin-left: 0; }

	.showcasePage .row-fluid .span2, .showcasePage .span2 { width: 170px; }
	.showcasePage .row-fluid .span10, .showcasePage .span10 { width: 810px; margin-left: 20px; }

	.pageCertDev .span12 { width: 1170px; }
	.pageCertDev .row-fluid .span10 { width: 935px; }

	.wrapperDeveloper .row-fluid .span2 { width: 133px; }
	.wrapperDeveloper .row-fluid .span4 { width: 285px; float: left; }
	.wrapperDeveloper .row-fluid .span6 { width: 430px; }
	.wrapperMainPage .row .span12 {	width: 100%;}

	.api-header-row2 .row-fluid .span6 { margin-left: 0; }
	body:not(.fixElem) .api-header-row1 .container .row-fluid .span2,
	body:not(.fixElem) .api-header-row2 .container .row-fluid .span2 { min-width: 200px; }
	body:not(.fixElem) .api-header-row1 .container .row-fluid .span10,
	body:not(.fixElem) .api-header-row2 .container .row-fluid .span10 { 
		width: 900px;
		margin: 0; 
	}
}

/*-----------------@media only screen (min-width: 768px) and (max-width: 979px)-----------------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.editorialTableTr .odd .span4,
	.editorialTableTr .even .span4 {
		line-height: 100px;
	}
	.inventoryTableTr .odd .span4,
	.inventoryTableTr .even .span4 {
		line-height: 78px;
	}
	.dealerTableTr .odd .span4,
	.dealerTableTr .even .span4 {
		line-height: 78px;
	}
	.overviewTable .row-fluid .span2 { padding-left: 12px !important;}
	.row-fluid:not([class*="overviewTable"]) .span2,
	.span2 { width: 200px; float: left;	}
	.row-fluid .span10,
	.span10 { width: 780px; float: left; }

	.row-fluid:not([class*="overviewTable"]) .span6 { width: 559px; float: left; }
	.fixElem .wrapperHeader .row-fluid.bgnd {
		display: none;
	}
	.wrapperMainPage .span6 { width: 552px; float: left; }
	.wrapperMainPage .span3 { width: 269px; float: left; margin-right: 18px;}
	.wrapperMainPage .section4 .row-fluid .span3 { width: 235px; }
	.wrapperMainPage .row .span12 {	width: 100%;}

	.row-fluid.info .span3 { width: 132px; float: left;}
	.row-fluid.info .span4 { width: 180px; float: left; margin-left: 15px; }

	.overviewTable .parenCategory {	padding: 13px 5px; }

	.row-fluid .span10.navbar { margin-left: 0; }

	.showcasePage .row-fluid .span2, .showcasePage .span2 { width: 170px; }
	.showcasePage .row-fluid .span10, .showcasePage .span10 { width: 810px; margin-left: 20px; }

	.pageCertDev .span12 { width: 1170px; }
	.pageCertDev .row-fluid .span10 { width: 935px; }

	.wrapperDeveloper .row-fluid .span2 { width: 133px; }
	.wrapperDeveloper .row-fluid .span4 { width: 285px; float: left; }
	.wrapperDeveloper .row-fluid .span6 { width: 430px; }

	.api-header-row1 .row-fluid .span10,
	.api-header-row2 .row-fluid .span10  { margin-left: 0; width: 950px; }
}


/*-----------------@media only screen (max-width: 767px)-----------------*/
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.editorialTableTr .odd .span4,
	.editorialTableTr .even .span4 {
		line-height: 100px;
	}
	.inventoryTableTr .odd .span4,
	.inventoryTableTr .even .span4 {
		line-height: 78px;
	}
	.dealerTableTr .odd .span4,
	.dealerTableTr .even .span4 {
		line-height: 78px;
	}
	.row-fluid:not([class*="overviewTable"]) .span2,
	.span2 {
		width: 200px;
		float: left;
	}
	.row-fluid .span10,
	.span10 {
		width: 780px;
		float: left;
	}

	.row-fluid .span10.navbar { margin-left: 0; }
	.fixElem .wrapperHeader .row-fluid.bgnd {
		display: none;
	}
	body {
		padding: 0;
	}
	.overviewTable .parenCategory { padding: 13px 5px; }
	.overviewTableTH .span4 { width: 237px; float: left; }
	.overviewTable .row-fluid .span4.parenCategory { width: 237px; float: left; }
	.overviewTable .row-fluid .span2 { width: 108px; float: left; padding-left: 4px !important;}
	.overviewTable .row-fluid .span6 { width: 365px; float: left; }
	.overviewTable .row-fluid .span8.subcategory { width: 494px; float: left; }
	.overviewTable .row-fluid .span8.subcategory .span4 { width: 158px; float: left; }
	.overviewTable .row-fluid .subcategory .span8 { width: 325px; float: left; }
	.overviewTable .row-fluid .subcategory .span8 .span4{ width: 102px; float: left; }

	.row-fluid .span6 { width: 575px; float: left; }
	.wrapperMainPage .span6 { width: 552px; float: left; }
	.wrapperMainPage .span3 { width: 269px; float: left; margin-right: 18px;}
	.mainPage .container { margin: 0 101px;}

	.row-fluid.info .span3 { width: 132px; float: left;}
	.row-fluid.info .span4 { width: 180px; float: left; margin-left: 15px;}

	.showcasePage .row-fluid .span2, .showcasePage .span2 { width: 170px; }
	.showcasePage .row-fluid .span10, .showcasePage .span10 { width: 810px; margin-left: 20px; }

	.pageCertDev .span12 { width: 1170px; }
	.pageCertDev .row-fluid .span10 { width: 935px; }

	.wrapperDeveloper .row-fluid .span2 { width: 133px; }
	.wrapperDeveloper .row-fluid .span4 { width: 285px; float: left; }
	.wrapperDeveloper .row-fluid .span6 { width: 430px; }

	.api-header-row1 .row-fluid .span10,
	.api-header-row2 .row-fluid .span10  { margin-left: 0; width: 950px; }
	html body.tmv-promo, 
	html body.vehicle-conf-promo  { min-width: 1650px;  }

}



/*-----------------@media only screen (max-width: 480px)-----------------*/
/* Landscape phones and down */
@media (max-width: 480px) {
	.editorialTableTr .odd .span4,
	.editorialTableTr .even .span4 {
		line-height: 100px;
	}
	.inventoryTableTr .odd .span4,
	.inventoryTableTr .even .span4 {
		line-height: 78px;
	}
	.dealerTableTr .odd .span4,
	.dealerTableTr .even .span4 {
		line-height: 78px;
	}
	.row-fluid:not([class*="overviewTable"]) .span2,
	.span2 {
		width: 200px;
		float: left;
	}
	.row-fluid .span10,
	.span10 {
		width: 780px;
		float: left;
	}
	.row-fluid .span10.navbar { margin-left: 0; }
	body {
		padding: 0;
	}
	.fixElem .wrapperHeader .row-fluid.bgnd {
		display: none;
	}
	.overviewTable .parenCategory { padding: 13px 5px; }
	.overviewTableTH .span4 { width: 237px; float: left; }
	.overviewTable .row-fluid .span4.parenCategory  { width: 237px; float: left; }
	.overviewTable .row-fluid .span2 { width: 108px; float: left; padding-left: 4px !important; }
	.overviewTable .row-fluid .span6 { width: 365px; float: left; }
	.overviewTable .row-fluid .span8.subcategory { width: 494px; float: left; }
	.overviewTable .row-fluid .span8.subcategory .span4 { width: 158px; float: left; }
	.overviewTable .row-fluid .subcategory .span8 { width: 325px; float: left; }
	.overviewTable .row-fluid .subcategory .span8 .span4{ width: 102px; float: left; }

	.row-fluid .span6 { width: 575px; float: left; }
	.wrapperMainPage .span6 { width: 552px; float: left; }
	.wrapperMainPage .span3 { width: 269px; float: left; margin-right: 18px;}

	.row-fluid.info .span3 { width: 132px; float: left;}
	.row-fluid.info .span4 { width: 180px; float: left; margin-left: 15px;}

	.showcasePage .row-fluid .span2, .showcasePage .span2 { width: 170px; }
	.showcasePage .row-fluid .span10, .showcasePage .span10 { width: 810px; margin-left: 20px; }

	.pageCertDev .span12 { width: 1170px; }
	.pageCertDev .row-fluid .span10 { width: 935px; }

	.wrapperDeveloper .row-fluid .span2 { width: 133px; }
	.wrapperDeveloper .row-fluid .span4 { width: 285px; float: left; }
	.wrapperDeveloper .row-fluid .span6 { width: 430px; }

	.api-header-row1 .row-fluid .span10 { margin-left: 0; }
	.api-header-row2 .row-fluid .span10 { margin-left: 0; }
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}