/*__style of Retina__*/

.topLogo {
  background-image: url('/api-logo.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (min-resolution: 1.5dppx), 
       only screen and (-o-min-device-pixel-ratio: 3/2) {
  .class-image {
    background-image: url('/api-logo@2x.png');
    background-size: 186px 206px;
  }
}

 /*__font-family__*/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../font-famaly/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oswald400';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../font-famaly/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
@font-face {
  font-family: 'Oswald700';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../font-famaly/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/*__end font-family__*/
h1,h2,h3,h4,h5,h6 {font-family: 'Oswald400';}
body, html {
	height:100%;
	font-family:Arial, sans-serif;
	color: #444;
}

.push {
	height: 128px;
	clear: both;
}

.footerLayout {
	position: relative;
}

/* Override some defaults */
body {
  background: #f2f2f2;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background: none;
  padding: 0;
  margin: 0; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
/*__Start Header__*/
header {
  position:relative;
  padding: 14px 0 0 0;
}

.topBlogBackground {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 91px;
  width: 100%;
  background: #dedede;
}
.register {
  float: left;
  margin: 0 25px 0 0;
  font-size: 9px;
  color: #999;
}
.register img {
  margin: 0 7px 0 0;
  vertical-align: baseline;
}
.register a {
  color: #BF2F37;
}
.headerLinks a, .headerLinks span {
  font-weight:700;
  font: bold 9px/20px Arial;
  text-transform: uppercase;
}
.headerLinks a:hover, .headerLinks a:active {
	color: #90BE3F;
	text-decoration: none;
}
nav.headerLinks {
  margin: 14px 0 13px 0;
}
.navbar nav.headerMenu a {
  display: inline-block;
  padding: 0;
  margin-right: 25px;
  color:#444;
  border-bottom: 1px solid #444;
  font: 25px/31px 'Oswald400';
  text-transform: lowercase;
}
.headerMenu a:hover {
  border-bottom: 0;
}
.navbar nav.headerLinks ul a {
  padding: 0 20px 0 0;
  color:#555;
  font: bold 9px/23px Arial;
}
.navbar-inner {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
.linkGetStart {
	position:absolute;
	right:0;
	width:180px;
  margin-top: 16px;
  padding: 30px 0  6px 0;
  color: #fff;
  font: 26px 'Oswald400';
  text-transform: lowercase;
  text-align: center;
  background: #444;
}
.linkGetStart:hover, .linkGetStart:focus {
	color:#fff;
	text-decoration: none;
}
.navbar .nav a.active, 
.navbar .nav a.active:hover, 
.navbar .nav a.active:focus {
  border-bottom: 0;
  color: #bf2f37;
  text-decoration: none;
  background: none;
  box-shadow: none;
}
.headerMenuContent .navbar .nav > li > a {
	display: block;
	padding: 7px 30px;
	border-bottom: 3px solid #F2F2F2;
}
.navbar .nav > li:last-child > a {
	margin-right: 0;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #90BE3F;
}
.navbar nav.headerMenu a:hover {
	border-bottom:0;
}
.topHeader .navbar nav {
	margin-left: 30px;
}
.navbar-inner {filter: none;}
.container {
	position: relative;
}
/*__End Header__*/


/*__Start Footer__*/
.footerLayout {
	z-index: 101;
}
footer.navbar {
  height: 128px;
  background: #dedede url(../img/bg_footer.gif) top repeat-x;
}

footer.navbar .container {
	width: 1170px;
}
footer.navbar .span6 {
  margin: 0;
}
.social nav p {
  margin: 0;
  width: 158px;
  margin: 0 28px 0 0;
  color:#666;
  font-size: 11px;
  line-height: 15px;
}
.social nav .nav  {
  margin: 0;
}
.social nav p, .social nav .nav {
  float: right;
}
.social nav .nav {
  margin-top: 7px;
}
footer  .social nav .nav li a {
  padding: 0;
  margin: 0 20px 0 0;
}
.social nav .nav li:last-child a {
  margin: 0; 
}
footer.navbar .footerLinks {
  margin: 45px 0 0 0;
}
footer.navbar .footerLinks .nav {
  line-height: 36px;
}
footer.navbar .social {
  margin: 40px 0 0 0;
}
footer.footerLayout .nav > li > a {
	padding: 10px 30px 10px 0;
	color: #444;
	font-size:9px;
	font-weight: 700;
	text-transform: uppercase;
}
/*__End Footer**/



/*__Start Content__*/

.sectionContent h1, 
.sectionContent h2, 
.sectionContent h3, 
.sectionContent h4, 
.sectionContent h5, 
.sectionContent h6 {
	font-family: 'Myriad Pro';
}
.sectionContent {
	margin-left: 0;
}
.sectionContent header {
  padding: 35px 0 0 0;
  border: 0;
}
.sectionContent header h1 {
  padding: 0 0 35px 29px;
  margin:0;
  border-bottom:1px solid #ccc;
  font: 26px/26px 'Oswald400';
  color: #444;
  text-transform: uppercase;
}
.sectionContent section {
	padding: 37px 0 81px 29px;
}
.headerMenuContent a {
  padding: 15px 42px 12px 42px
}
.headerMenuContent .navbar .nav a.active, 
.headerMenuContent .navbar .nav a.active:hover, 
.headerMenuContent .navbar .nav a.active:focus {
  border-bottom: 3px solid #bf2f37;
  color: #444;
}
.sectionContent .navbar nav {
  border-bottom: 1px solid #ccc;
}
.sectionContent p {
  margin-bottom: 33px;
  font-size: 15px;
}
.leftMenuFixed.fixed, .headerMenuContent.fixed  {
	z-index:100;
	position: fixed;
	top: 0;
	background: #F2F2F2;
}
.headerMenuContent.fixed {
	box-shadow: 0 2px 3px #dad8d8 ;
}
.linkGetKey {
	display:inline-block;
	margin:0 4px 0 8px;
	padding:0 21px;
	color:#fff;
	font-weight:700;
	line-height:38px;
	background: #bf2f37;
}
a.linkGetKey:hover {
	color:#fff;
	text-decoration: none;
}
.blogGray {
	margin:0 0 31px 0;
	padding: 0 28px;
	font-weight:700;
	line-height:56px;
	background: #dedede;
}
.tableDate {
	margin: 0 0 21px 0;
	padding:7px 25px;
	background: #dedede;
}
.tableDate tr td:first-child {
	font-weight: 700;
}
.tableDate tr td {
	padding: 0 20px 9px 0;
}
.sectionContent h5 {
	margin-bottom:4px;
	font-family: Arial, sans-serif;  
}
	/*__start table Parametrs__*/
	.tableParametrs {
		margin: 0 0 30px 0; 
	}
	.tableParametrs th {
		padding:0 0 0 21px;
		color:#fff;
		font:700 14px/40px Arial, sans-serif;
		text-align: left;
		background: #444;
	}
	.tableParametrs td {
		padding: 18px 21px;
		vertical-align: top;
	}
	.tableParametrs td {
		border-bottom: 1px solid #dedede;
	}
	.tableParametrs .text-info {
		margin: 0 0 5px 0;
		font-weight: 700;
	}
	.tableParametrs p {
		margin: 0;
	}
	.tableParametrs .linkGetKey {
		margin: 0;
	}
	/*__end table Parametrs__*/
	
	/*__Start Navigation left menu "Next & Previos"__*/
	.wrapNextPrev {
		position:absolute;
		bottom: 0;
    	left: 199px;
    	right:0;
		border-top:1px solid #ccc; 
		padding: 22px 29px;
	}
	#prevMenuItem, #nextMenuItem {
		display:inline-block;
		font: 14px/38px 'Oswald400', Arial;
		background-image: url('../img/sprite_next_prev.gif');
		background-repeat: no-repeat;
		text-transform: uppercase; 
	}
	#prevMenuItem {
		padding:0 0 0 24px;
		background-position: 0 0; 
	}
	#nextMenuItem {
		float: right;
		padding:0 24px 0 0; 
		background-position: 100% -38px; 
	}
	#prevMenuItem:hover, #nextMenuItem:hover {
		text-decoration: none;
	}
	/*__End Navigation left menu "Next & Previos"__*/
	
	/*__Start style code__*/
	pre {
		margin-bottom: 33px; 
		background: #333;
	}	
	/*__End style code*/
	
a.pdfLink {
	float: right;
	padding: 4px 26px 0 20px;
	color: #336699;
	font: 11px/18px Arial, sans-serif;
	text-transform: uppercase;
	background: url('../img/pdf_link.gif') left center no-repeat;
}
a.pdfLink:hover {
	color: #90BE3F;
	text-decoration: none;
}	
	/*__Start table "AVAILABLE API’S"__*/
	.overviewTable {
		margin: 0 0 74px 0;
		background: url('../img/bg_table_api.gif') left repeat-y transparent; 
	}
	.overviewTableTH {
		color: #fff;
		text-transform: uppercase;
		background: #444;
	}
	.overviewTable .odd {
		background: #fff;
	}
	.overviewTableThMob {
		display: none;
	}
	.overviewTableTH {
		border-bottom:1px solid #3d3d3d;
		color:#fff;
		font: 18px/39px Arial, sans-serif;
	}
	.parenCategory{
		padding: 13px 21px;
	}
	.editorialTableTr,
	.inventoryTableTr,
	.dealerTableTr {
		border-top: 1px solid #fff;
	}
	.parenCategory a.icons {
		float: left;
		margin: 2px 20px 0 0;
		border: 0;
	}
	.parenCategory h2,
	.parenCategory p,
	.parenCategory a {
		margin: 0;
		color: #fff;
	}
	.parenCategory h2 {
		margin-bottom:14px;
		font:700 18px/18px Arial, sans-serif; 
	}
	.parenCategory p,
	.parenCategory a {
		font-size:12px;
		line-height: 15px;
	}
	
	.parenCategory a {
		display:inline-block;
		border-bottom: 1px dashed #fff;
		color: #fff;
	}
	.parenCategory a:hover {
		border-bottom: 1px dashed #336699;
		text-decoration: none;
	}
	.subcategory {
		background: #F2F2F2;
	}
	.subcategory a {
		color: #336699;
		font-size: 12px;
	}
	.subcategory a:hover {
		color: #90BE3F; 
		text-decoration: none;
	}
	.vehicleTableTr .subcategory {
		padding: 0;
	}
	.subcategory .odd .span4, 
	.subcategory .even .span4 {
		padding: 0 0 0 29px;
		line-height: 26px;
	}
	.row-fluid [class*="span"] {
		min-height: 26px;
	}
	.editorialTableTr .odd .span4, 
	.editorialTableTr .even .span4 {
		line-height: 100px;
	}
	.inventoryTableTr .odd .span4, 
	.inventoryTableTr .even .span4 {
		line-height: 100px;
	}
	.dealerTableTr .odd .span4, 
	.dealerTableTr .even .span4 {
		line-height: 100px;
	}
	.subcategory .rowCostCategory .span8 .span4 {
		line-height: 53px;
	}
	.overviewTableTH .span6{
		padding-left: 21px;
	}
	/*__End table "AVAILABLE API’S"__*/
/*__End Content__*/


/*__Left Column Menu__*/
.leftMenuFixed {
	overflow: hidden;
}
.select_version_api {
	display: block;
	margin: 29px 20px 0 0;
}
.collumnMenu .select_version_api a.value_selected_item,
.collumnMenu .select_version_api.open .btn.dropdown-toggle  {
	display:block;
	padding:0 0 0 16px;
	border:0;
	border-radius:0;
	color:#f0f0f0;
	font-size:13px;
	line-height:36px;
	box-shadow:none;
	text-shadow:none;
	background: #444;
}
.carretWrapper {
	float: right;
	margin-left:13px;
	border-left: 1px solid #666;
}
.carretWrapper .caret {
	margin: 16px 12px 0 11px;
	border-top-color: #fff;
}
.collumnMenu .select_version_api a.value_selected_item:hover .carretWrapper,
.collumnMenu .select_version_api.open .btn.dropdown-toggle .carretWrapper {
	background: #90be3f;
}
.collumnMenu .select_version_api.open .dropdown-menu {
	min-width:100%;
	margin-top:8px;
	padding:0;
	border:0;
	border-radius: 0;
	box-shadow: 0 1px 3px #C1C1C1;
	background: none;
}
.collumnMenu .select_version_api.open .dropdown-menu a {
	border-width:0 0 1px 0;
	border-style:solid;
	border-color: #d2d2d2;
	padding: 0 16px;
	color:#444;
	font: bold 13px/13px Arial;
	background: #fff;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip {
	background: #90be3f;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip span {
	color: #fff;
	font-size: 12px;
}
.collumnMenu .select_version_api.open .dropdown-menu .tip span,
.collumnMenu .select_version_api.open .dropdown-menu a {
	display:block;
	padding: 13px 16px;
} 
.collumnMenu .select_version_api.open .dropdown-menu a:hover {
	color:#90be3f;
	background: #fff;
	filter: none;
}
.collumnMenu .select_version_api.open .selectCaret {
	position: absolute;
	bottom:-8px;
	right:12px;
	border-bottom:5px solid #90be3f;
	border-top: 0;
}
.collumnMenu .select_version_api.open .selectCaret {
	display: block;
}
.collumnMenu .select_version_api .selectCaret {
	display: none;
}
ul.multiLevelMenu {
	margin: 31px 20px 10px 0;
}
.multiLevelMenu li {
	padding: 8px 0;
	list-style: none;
	font-size: 13px;
}
.multiLevelMenu li ul {
	margin:10px 0 0 20px;
}
.multiLevelMenu li ul li {
    padding: 8px 0;
	line-height: 17px;
}
.multiLevelMenu > li > a {
	font-weight: 700;
}
.multiLevelMenu a {
	font-size: 13px;
}
.multiLevelMenu a:hover {
	color: #90BE3F;
	text-decoration: none;
}
.multiLevelMenu a.active {
	color: #BF2F37;
}
.verticalLine {
	z-index:2;
	position:absolute;
	top: 97px;
	left:191px;
	bottom:0;
	width: 8px;
	border-right: 1px solid #ccc;
	background: #E7E7E7;
}
.multiLevelMenu a.active, .multiLevelMenu a.active:hover {
	color:#BF2F37
}
#valActiveLeftMenu {
	position: absolute;
    visibility: hidden;
}
.jspVerticalBar {
	z-index:2;
	width: 8px;
}
.jspDrag {
	background: #b1b1b1;
}
.jspTrack {
	background: #e7e7e7;
}
 /* Large desktop */


/*-----------------@media (min-width: 1200px)-----------------*/

@media (min-width: 1200px) { 

}
 

/*-----------------@media (min-width: 768px) and (max-width: 979px)-----------------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 

/*-----------------@media (max-width: 767px)-----------------*/
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
}



/*-----------------@media (max-width: 480px)-----------------*/
/* Landscape phones and down */
@media (max-width: 480px) { 
	
	

}

/*
.editorialTableTr {
	position: relative;
	overflow: hidden;
}

.subcategory .row-fluid .row-fluid [class^="span"]{ 
	position: relative;
	z-index: 2;
}

.subcategory .rename {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #f2f2f2;
	z-index: 1;
}

.subcategory .odd .rename {
	background: #fff;
}*/
