---
layout: default
---
{% include JB/setup %}

	{% comment %}<!-- <div class="verticalLine"></div>--> {% endcomment %}



<div class="apiPage">

	<div class="container">
		<div class="row-fluid h1Title api-header">
			<div class="span12"><h1>{{ page.title_parent }}</h1></div>
			<span id="h1Title">{{ page.title_parent }}</span>
		</div>
	</div>
	<div class="wrapperHeader">
		<div class="headerMenuContent">
			<div class="container">
				<div class="row-fluid">
					<div class="span2"><a class="linkConsole" href="http://edmunds.mashery.com/io-docs" title="API Explorer">API Console</a></div>
					<div class="span10">
						<h1>{{page.title}}</h1>
						<span id="valActiveLeftMenu">{{page.title_active_left_menu}}</span>
					</div>
				</div>
			</div>
		</div>

		{% if page.level >= 2 %}
			{% include themes/twitter/api-version-bar.html %}
		{% endif %}
	</div>
	<div class="container api-table">

		<div class="row lineVertical">
			<div class="span2">&nbsp;</div>
			<div class="span10">&nbsp;</div>
		</div>

		<div class="row">
			<div class="span2 collumnMenu">
				<div id="leftMenuFixed" class="leftMenuFixed">
					{% comment %} <!--{% include themes/twitter/api-doc-select-api-version.html %}--> {% endcomment %}
					{% include themes/twitter/api-doc-left-menu.html %}
				</div>
			</div>

			<div class="span10 sectionContent">
				{% if page.level >= 3 %}
					{% include themes/twitter/api-doc-submenu.html %}
				{% endif %}

				{% include themes/twitter/api-doc-content.html %}


			</div>
		</div>
	</div>
</div>


{% comment %}<!-- Fix left menu and header(sub menu) in the top --> {% endcomment %}

<style>
	.fixElem .wrapperHeader,
	.fixElem .endpoint-submenu {
		position: fixed;
	}
	.fixElem .wrapperHeader {
		z-index: 101;
		top:0;
		width:100%;
	}
	.fixElem .endpoint-submenu {
		top:143px;
		width:970px;
		background: #F2F2F2;
	}
	.fixElem .apiPage .api-table .endpoint-submenu {
    	padding-top: 13px;
    	margin-top: 0;
   }
   .fixElem .endpoint-submenu .nav {
   		margin-bottom: 0;
   }
   .fixElem .sectionContent {
   		margin-top:73px;
   }
   .fixElem .endpointPage {
   		margin-top:69px;
   }
   .overviewPage.fixElem .sectionContent {
   		margin-top:143px;
   }
   .endpointPage.fixElem .sectionContent {
   	margin-top:193px;
   }
	.overviewPage #leftMenuFixed,
	.endpointPage #leftMenuFixed {
	  margin-top:-74px;
	  padding-top:20px;
	}
	#leftMenuFixed {
		border-right:1px solid #c5c5c5;
	}
	.fixElem #leftMenuFixed {
		margin-top: 69px;
	}
	.endpoint-submenu,
	.apiPage .api-header-row1 .span10,
	.apiPage .api-header-row2 .span10 {
		border-left: 1px solid transparent;
	}
	.fixElem .endpoint-submenu,
	.fixElem .apiPage .api-header-row1 .span10,
	.fixElem .apiPage .api-header-row2 .span10 {
		border-left:1px solid #C5C5C5;
	}
</style>

{% comment %}<!-- Fix left menu and sub menu (tabs of versions, endpoints ...) in top window -->{% endcomment %}
<script type="text/javascript">

	$(function(){
		var body = $('body');
		var wrapperHeader = $('.wrapperHeader');
		var panelTabs = $('.api-header-row1').hasClass('api-header-row1');
		var subMenu =$('.endpoint-submenu').hasClass('endpoint-submenu');
		//var leftMenu = $('#leftMenuFixed')


		var topPadding = $('.wrapperTopHeader').height() + $('.api-header .span12').height();

		if (subMenu) {
			body.addClass('endpointPage');
		} else if (panelTabs && !subMenu) {
			body.addClass('overviewPage');
		}

		$(window).scroll(function(){

			var win = $(this);
			var scrollWindow = win.scrollTop();

			//add, remove Class of body
			if (scrollWindow >= topPadding) {
				body.addClass('fixElem');
			} else {
				if(body.hasClass('fixElem')) {
					body.removeClass('fixElem');
				}
			};

			var scrollLeft = $(window).scrollLeft();
			$('.fixElem .wrapperHeader').css('left', '-' + scrollLeft + 'px');

		});
		$(window).on('mousewheel', function() {
			var scrollLeft = $(window).scrollLeft();
			$('.fixElem .wrapperHeader').css('left', '-' + scrollLeft + 'px');
		});
		$(window).on('touchmove', function() {
			var scrollLeft = $(window).scrollLeft();
			$('.fixElem .wrapperHeader').css('left', '-' + scrollLeft + 'px');
		});
	});

</script>
</div>