---
layout: default
---
{% include JB/setup %}

<div class="verticalLine"></div>
<div class="row"> 	 

		<div class="span2 collumnMenu">
		
		<div id="leftMenuFixed" class="leftMenuFixed">
			
			{% include themes/twitter/api-doc-select-api-version.html %}
								
			{% include themes/twitter/api-doc-left-menu-v1.html %}
			
		</div>
		
		</div>
	
		<div class="span10 sectionContent">
	
			{% include themes/twitter/api-doc-content.html %}
	
		</div>

</div>
{% include themes/twitter/navigathion_prev_next.html %}





{% comment %} <!-- jQuery custom content scroller for left menu--> {% endcomment %}
<script src="{{ ASSET_PATH }}/js/jquery.mCustomScrollbar.concat.min.js"></script>


{% comment %} <!-- Custom scrolling for left menu --> {% endcomment %}
<script type="text/javascript">
	(function($){
		
		$(window).load(function(){
			
			$("#leftMenuFixed").mCustomScrollbar({
				scrollButtons:{
					enable:true
				}
				
			});
		
		});
		
	})(jQuery); 
</script>


{% comment %} <!-- script for fix header of content in top window of brawser--> {% endcomment %}
<script type="text/javascript">	

$(document).ready(function () {  	
	  var elemSubMenu = $('.headerMenuContent');
	  var elemSectionContent = $('.sectionContent');
	  
	  var topSubMenu = elemSubMenu.offset().top - parseFloat(elemSubMenu.css('marginTop').replace(/auto/, 0));;
	  
	  var heightSubMenu = elemSubMenu.height() + 35 + "px";
	  
	  var widthSectionContent = elemSectionContent.width();
	  
	  
	  $(window).scroll(function (event) {
	    // what the y position of the scroll is
	    var y = $(this).scrollTop();
		

	    // whether that's below the form
	    if (y >= topSubMenu) {
	      // if so, ad the fixed class
	      
	      elemSubMenu.addClass('fixed'); 
	      elemSubMenu.css('width', widthSectionContent);
	      
	      elemSectionContent.css('margin-top', heightSubMenu);
 
		    } else {
		      // otherwise remove it
	      elemSubMenu.removeClass('fixed');
	      elemSubMenu.removeAttr('style');
	      
	      elemSectionContent.removeAttr('style');

	    }
	  });
});
</script>


{% comment %} <!-- Fixed left menu in the top window-->{% endcomment %}
	<script type="text/javascript">	
		
		$(document).ready(function () {  
		
			
		  var elemLeftMenu = $('.leftMenuFixed');
		  
		  var topLeftMenu = elemLeftMenu.offset().top - parseFloat(elemLeftMenu.css('marginTop').replace(/auto/, 0));
		
		  var widthLeftMenu = elemLeftMenu.width();
		  
		  
		  $(window).scroll(function (event) {
		    // what the y position of the scroll is
		    var y = $(this).scrollTop();
			

		    // whether that's below the form
		    if (y >= topLeftMenu) {
		      // if so, ad the fixed class
		      
		      elemLeftMenu.addClass('fixed');
		      elemLeftMenu.css({
		      	width: widthLeftMenu,
		      	top: 0
		      });
		      
 
		    } else {
		      // otherwise remove it
		      elemLeftMenu.removeClass('fixed');
		      elemLeftMenu.removeAttr('style');
		      
		      
		    }
		  });
		});
	</script>