---
layout: default
---
{% include JB/setup %}

	<div class="verticalLine"></div>
	
	<div class="row-fluid h1Title">
		<div class="span12"><h1>{{ page.title_parent }}</h1></div>
		<span id="h1Title">{{ page.title_parent }}</span>
	</div>
	
	<div class="row-fluid"> 	 
	
		<div class="span2 collumnMenu">
			
			<div id="leftMenuFixed" class="leftMenuFixed">
				
				{% include themes/twitter/api-doc-select-api-version.html %}
									
				{% include themes/twitter/api-doc-left-menu-v2.html %}
				
			</div>
			
		</div>
	
		<div class="span10 sectionContent">
	
			{% include themes/twitter/api-doc-content.html %}
					
			
		</div>
	
	</div>
	{% include themes/twitter/navigathion_prev_next.html %}


