---
layout: default
---
{% include JB/setup %}

<div class="verticalLine"></div>
<div class="row"> 	 

		<div class="span2 collumnMenu">
		
		<div id="leftMenuFixed" class="leftMenuFixed">
			
			{% include themes/twitter/api-doc-select-api-version.html %}
								
			{% include themes/twitter/api-doc-left-menu-v1.html %}
			
		</div>
		
		</div>
	
		<div class="span10 sectionContent">
	
			{% include themes/twitter/api-doc-content.html %}
	
		</div>

</div>
{% include themes/twitter/navigathion_prev_next.html %}


{% comment %}<!-- Fix left menu and header(sub menu) in the top --> {% endcomment %}
<script type="text/javascript">
	
	$(function(){
		
		var elemSubMenu = $('.headerMenuContent');
		var elemLeftMenu = $('.leftMenuFixed');
		
		var topValue = elemSubMenu.offset().top;
		
		var widthSubMenu = elemSubMenu.width();
		var widthLeftMenu = elemLeftMenu.width();
			elemSubMenu.css('width', widthSubMenu);
			elemLeftMenu.css('width', widthLeftMenu);

		$(window).scroll(function(){
		
			var scroll = $(this).scrollTop();
			
			if (scroll >= topValue) {
				
				elemSubMenu.addClass('fixed');
				elemLeftMenu.addClass('fixed');
				
			} else {
				
				elemSubMenu.removeClass('fixed');
				elemLeftMenu.removeClass('fixed');
				
			}
			
		});
		
	});
	
</script>



{% comment %}<!-- scroll left menu --> {% endcomment %}
<script type="text/javascript">
	
	$(function(){
		
		
		//console.log(heightWindow);	
			
		$(window).resize(function(){
			var leftMenu = $('#leftMenuFixed');
			var posLeftMenu = leftMenu.offset().top;
			var scroll = $(window).scrollTop();
			var heightWindow = $(window).height();
			leftMenu.css('height', heightWindow - (posLeftMenu + 130 - scroll) )
			
			$('#leftMenuFixed').jScrollPane();
		});
		
		$(window).resize();
		
		
		
	});
	
</script>

































