


		<li class="{{page.filter}}">
			<img class="iconNew" data-date="{{page.data}}" src="{{ PATH }}/assets/themes/twitter/img/showcase/icon_new.png" alt=""/>
			<figure>
				<img src="{{ PATH }}/assets/themes/twitter/img/showcase/{{page.imageCompany}}" alt="InControl Pro">
			</figure>
			<aside>
				<a class="titleCompany" href="{{page.href}}" title="{{page.titleCompany}}" target="_blank">{{page.titleCompany}}</a>
				<span>Leverages:</span>
				<a class="tagsCompany" href="{{ PATH }}/api-documentation/inventory/index.html" title="Inventory API">Inventory API</a>
			</aside>
		</li>