<header class="headerMenuContent">
	
	<h1>{{page.header_parent}}</h1>
	
		{% if page.level == 2 %}
		
			{% include themes/twitter/api-doc-submenu.html %}
		  
		{% endif %}

</header>

<section>
    			
	{{content}}

</section>



<script type="text/javascript">	
	
$(document).ready(function () {  
	
		
	  var elemSubMenu = $('.headerMenuContent');
	  var elemSectionContent = $('.sectionContent');
	  
	  var topSubMenu = elemSubMenu.offset().top - parseFloat(elemSubMenu.css('marginTop').replace(/auto/, 0));;
	  
	  var heightSubMenu = elemSubMenu.height() + 35 + "px";
	  
	  var widthSectionContent = elemSectionContent.width();
	  
	  
	  $(window).scroll(function (event) {
	    // what the y position of the scroll is
	    var y = $(this).scrollTop();
		

	    // whether that's below the form
	    if (y >= topSubMenu) {
	      // if so, ad the fixed class
	      
	      elemSubMenu.addClass('fixed'); 
	      elemSubMenu.css('width', widthSectionContent);
	      
	      elemSectionContent.css('margin-top', heightSubMenu);
 
		    } else {
		      // otherwise remove it
	      elemSubMenu.removeClass('fixed');
	      elemSubMenu.removeAttr('style');
	      
	      elemSectionContent.removeAttr('style');
	      
	    }
	  });
});
</script>


