<div class="api-header-row1">
	<div class="row-fluid bgnd">
		<div class="span6">&nbsp;</div>
		<div class="span6">&nbsp;</div>
	</div>
	<div class="container">
		<div class="row-fluid overlay">
			<div class="span2">&nbsp;</div>			
			<div class="span10">		
			
				

						{% if page.amount_version == 1 %}
							<a class="tab {% if page.version == 'v1' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v1/index.html">v1</a>
						{% elsif page.amount_version == 2 %}
							<a class="tab {% if page.version == 'v2' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v2/index.html">v2</a>
							<a class="tab {% if page.version == 'v1' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v1/index.html">v1</a>
						{% endif%}


				
			</div>
		</div>
	</div>
</div>
	
<div class="api-header-row2">
	<div class="row-fluid bgnd">
		<div class="span6">&nbsp;</div>
		<div class="span6">&nbsp;</div>
	</div>

	<div class="container">
		<div class="row-fluid overlay">
			<div class="span2">&nbsp;</div>		
			<div class="span10">
				{% for p in  site.pages %} 
					{% if p.spec == page.spec and p.overview == 'page'  %}
						<a class="version-bar-block {% if p.url == page.url %} active {% endif %}" href="{{ p.url }}" title="Overview">Overview</a>
					{% endif %}
				{% endfor %}	
				<span class="wrap-icon"><i class="right-angle-icon">&nbsp;</i></span>

				<div class="dropdown">
				
					<a class="dropdown-toggle {% if page.dropdown-link != 'Select endpoint' %} active {% endif %}" data-toggle="dropdown"><span class="selected-option">{{ page.dropdown-link }}</span><span class="dropdown-btn">&nbsp;</span></a>
			
									
					<ul class="dropdown-menu">
						
						{% for p in  site.pages %} 
							{% if p.spec == page.spec and p.version == page.version and p.level == 3 %}
									
								<li name="endpoint">
									<a href="{{ p.url }}" title="">
									<div class="option-value">{{ p.dropdown-link }}</div>
									<div class="option-description">{{ p.description_edpoint }}</div></a>
								</li>

							{% endif %}
						{% endfor %}
					
					
					</ul>

				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$('[name="endpoint"]').on('click', function() {
			$('.selected-option').html($(this).find('.option-value').text());
		});
		$('.tab').on('click', function() {
			$('.tab').removeClass('active');
			$(this).addClass('active');
		});
	});
</script>


{% comment %}<!-- script for setting wodth of drop down in the page API documentation -->{% endcomment %}
<script type="text/javascript">

	$(function(){
		var select = $('.apiPage').find('.dropdown');
		var selectWidth = select.width();
		var list = $('.apiPage .dropdown-menu').find('li:first-child');
		var listWidth = $('.apiPage').find('.dropdown-menu').width(); 
		
		var value = listWidth - selectWidth - 44;
		
		if(value > 0) {
			list.css('border-radius', '0 5px 0 0');
		} else {
		  list.css('border-radius', '0');
		}
		
	});

</script>

















