
<div class="endpoint-submenu">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#description" data-toggle="tab">Description</a>
		</li>
		<li>
			<a href="#parameters" data-toggle="tab">Parameters</a>
		</li>
		<li>
			<a href="#responce" data-toggle="tab">Response Format</a>
		</li>
		<li>
			<a href="#request" data-toggle="tab">Sample Request</a>
		</li>
	</ul>

</div>


<div class="tab-content">	
	
		{% for p in site.pages %}
			{% if p.title-endpoint == page.title-endpoint %}
			
				{% if p.title == "Description" %}
					<div class="tab-pane active" id="description">
						sdfsdf
						{{ p.content }}
					</div>
				{% elsif p.title == "Parameters" %}
					<div class="tab-pane" id="parameters">
						{{ p.content }}
					</div>
				{% elsif p.title == "Response format" %}
					<div class="tab-pane" id="responce">
						{{ p.content }}
					</div>
				{% elsif p.title == "Sample Request" %}
					<div class="tab-pane" id="request">
						{{ p.content }}
					</div>
				{% endif %}
				
			{% endif %}
		{% endfor %}
	
</div>