<div class="navbar">
	<nav class="navbar-inner">
	  <ul class="nav">
	  	
	  	
	  	
			{% if page.group == 'dealer_ratings_and_reviews' %}
				
				{% for sub_weight in (1..4) %}
					{% for p in site.pages %}
						{% if p.group == 'dealer_ratings_and_reviews' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'incentive_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'incentive_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'make_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'make_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'model_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'model_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'model_year_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'model_year_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'photo_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'photo_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'style_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'style_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'true_cost_to_own' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'true_cost_to_own' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			  
			{% elsif page.group == 'true_market_value' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'true_market_value' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				
			  
			{% elsif page.group == 'vehicle_ratings_and_rewiews_repository' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'vehicle_ratings_and_rewiews_repository' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				
			  
			{% elsif page.group == 'vin_decoder' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'vin_decoder' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				
			{% elsif page.group == 'test_item1.1' %}
				{% for sub_weight in (1..4) %}
				{% for p in site.pages %}
					{% if p.group == 'test_item1.1' %}
						{% if p.sub_weight == sub_weight %}
								<li>
									<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
										{{ p.title }}
									</a>
								</li>
						{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
	
			{% endif %}
		


	  </ul>
	</nav>
</div>