<div class="btn-group select_version_api">
    <a class="value_selected_item btn dropdown-toggle" data-toggle="dropdown" href="#">
    	<span class="carretWrapper"><span class="caret"></span></span>
    	<span>Api version 1.0</span> 
    </a>
    
    <span class="caret selectCaret"></span>
    
    <ul class="htabs dropdown-menu">
    	<li class="tip"><span>Choose the API version you want to investigate</span></li>
		<li><a href="{{ PATH }}/api-documentation/v1/overview/index.html" id="api-v1" title="Api version 1.0">Api version 1.0</a></li>
		<li><a href="{{ PATH }}/api-documentation/v2/overview/index.html" id="api-v2" title="Api version 2.0">Api version 2.0</a></li>
    </ul>
</div>



<script type="text/javascript">
	
jQuery(document).ready(function(){

	var cookieName = 'level';
	var cookieOptions = {expires: 7, path: '/'};
	var value_selected_item = $('.value_selected_item');
	
	$("#verbose").val("");
	$("#" + $.cookie(cookieName)).addClass("selected");

	$(".htabs a").click(function(e){
		//e.preventDefault();
		$("#" + $.cookie(cookieName)).removeClass("selected");
		$.cookie(cookieName, $(this).attr("id"), cookieOptions);
		$("#" + $.cookie(cookieName)).addClass("selected");
	});
	
	var count_selected = $('.selected');
	
	if (count_selected.length == 1) {
		value_selected_item.html(count_selected.text() + '<span class="carretWrapper"><span class="caret"></span></span>');
	}
	
});
</script>