
<div class="endpoint-submenu">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#description" data-toggle="tab">Description</a>
		</li>
		<li>
			<a href="#parameters" data-toggle="tab">Parameters</a>
		</li>
		<li>
			<a href="#responce" data-toggle="tab">Response Format</a>
		</li>
		<li>
			<a href="#request" data-toggle="tab">Sample Request</a>
		</li>
	</ul>

</div>


<div class="tab-content">	
	
		{% for p in site.pages %}
	
			{% if p.title-endpoint == page.title-endpoint %}
			
				{% if p.test == 1 %}
					<div class="tab-pane active" id="description">
						 1tab 
						{{ p.content }}
					</div>
				{% elsif p.test == 2 %}
					<div class="tab-pane" id="parameters">
						2 tab 
						{{ p.content }}
					</div>
				{% elsif p.test == 3 %}
					<div class="tab-pane" id="responce">
						3 tab 
						{{ p.content }}
					</div>
				{% elsif p.test == 4 %}
					<div class="tab-pane" id="request">
						4 tab 
						{{ p.content }}
					</div>
				
				{% endif %}
				
				
			{% endif %}	
				
		{% endfor %}
	
</div>