<div class="api-header-row1">
	<div class="row-fluid bgnd">
		<div class="span6">&nbsp;</div>
		<div class="span6">&nbsp;</div>
	</div>
	<div class="container">
		<div class="row-fluid overlay">
			<div class="span2">&nbsp;</div>			
			<div class="span10">		
			
				

						{% if page.amount_version == 1 %}
							<a class="tab {% if page.version == 'v1' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v1/index.html">v1</a>
						{% elsif page.amount_version == 2 %}
							<a class="tab {% if page.version == 'v2' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v2/index.html">v2</a>
							<a class="tab {% if page.version == 'v1' %} active{% endif %}" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/v1/index.html">v1</a>
						{% endif%}


				
			</div>
		</div>
	</div>
</div>
	
<div class="api-header-row2">
	<div class="row-fluid bgnd">
		<div class="span6">&nbsp;</div>
		<div class="span6">&nbsp;</div>
	</div>

	<div class="container">
		<div class="row-fluid overlay">
			<div class="span2">&nbsp;</div>		
			<div class="span10">
				<a class="version-bar-block" href="{{ PATH }}/api-documentation/{{ page.api }}/{{ page.spec }}/index.html" title="Overview">Overview</a>
				<span class="wrap-icon"><i class="right-angle-icon">&nbsp;</i></span>

				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="selected-option">{{ page.dropdown-link }}</span><span class="dropdown-btn">&nbsp;</span></a>

									
									
									
					<ul class="dropdown-menu">
						
						{% for p in  site.pages %} 
							{% if p.spec == page.spec %}
								{% if p.level == 3 %}
									{% if p.version == page.version %}
									
										<li name="endpoint">
											<a href="{{ PATH }}/api-documentation/{{ p.api }}/{{ p.spec }}/{{ page.version }}/{{ p.title-endpoint }}/index.html">
											<div class="option-value">{{ p.dropdown-link }}</div>
											<div class="option-description">Get makes by ID  - {{ p.level }}</div></a>
										</li>
									
									{% endif %}
									
								{% endif %}
							{% endif %}
						{% endfor %}
					
					
					</ul>

				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$('[name="endpoint"]').on('click', function() {
			console.log('click option');
			$('.selected-option').html($(this).find('.option-value').text());
		});
		$('.tab').on('click', function() {
			$('.tab').removeClass('active');
			$(this).addClass('active');
		});
	});
</script>
