<header class="headerMenuContent">
	
	<h1>{{page.title_active_left_menu}}</h1>
	
	<span id="valActiveLeftMenu">{{page.title_active_left_menu}}</span>
	
		{% if page.level == 2 %}
		
			{% include themes/twitter/api-doc-submenu.html %}
		  
		{% endif %}

</header>

<section>
    			
	{{content}}

</section>


{% comment %} <!-- Set default active links for left menu --> {% endcomment %}
<script type="text/javascript">
		//left menu
		var linkLeftMenu = $('.multiLevelMenu').find('a');
		var valueActiveLeftMenu = $('#valActiveLeftMenu').text();
		var amountLinks = linkLeftMenu.length;
		for (var i=0; i<=amountLinks; i++) {
			var valTitle = linkLeftMenu.eq(i).attr('title');
			if(valTitle == valueActiveLeftMenu) {
				linkLeftMenu.eq(i).addClass('active');
			}
		}
		
</script>
	


