<div class="btn-group select_version_api">
    <a class="value_selected_item btn dropdown-toggle" data-toggle="dropdown" href="#">
    	<span class="carretWrapper"><span class="caret"></span></span>
    	<span>{{page.api_version}}</span> 
    </a>
    
    <span class="caret selectCaret"></span>
    
    <ul class="htabs dropdown-menu">
    	<li class="tip"><span>Choose an API Version</span></li>
		<li><a href="{{ PATH }}/api-documentation/v1/overview/index.html" id="api-v1" title="Version 1.0">Version 1.0</a></li>
		<li><a href="{{ PATH }}/api-documentation/v2/overview/index.html" id="api-v2" title="Version 2.0">Version 2.0</a></li>
    </ul>
</div>
