<ul class="multiLevelMenu">
    <li>
        <a href="{{ PATH }}/api-documentation/overview/" title="API Overview">API Overview</a>
    </li>
    <li>
        <a href="{{ PATH }}/api-documentation/vehicle/" title="Vehicle API">Vehicle API</a>
        <ul>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_make/v2/" title="Spec: Make">Spec: Make</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_model/v2/" title="Spec: Model">Spec: Model</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_model_year/v2/"
                   title="Spec Model/Year">Spec: Model/Year</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_style/v2/" title="Spec: Style">Spec: Style</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_engine_and_transmission/v2/"
                   title="Spec: Engine and Transmission">Spec: Engine and Transmission</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_colors_and_options/v2/"
                   title="Spec: Colors and Options">Spec: Colors and Options</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_equipment/v2/"
                   title="Spec: Equipment">Spec: Equipment</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_squishvin/v2/"
                   title="Spec: Squish VIN">Spec: Squish VIN</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/spec_vin_decoding/v2/"
                   title="Spec: VIN Decoding">Spec: VIN Decoding</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/price_tco/v1/"
                   title="Price: True Cost to Own">Price: True Cost to Own&#174;</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/price_tco_cats/v1/"
                   title="Price: True Cost to Own Categories">Price: True Cost to Own&#174; Categories</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/price_tmv/v1/"
                   title="Price: True Market Value">Price: True Market Value&#174;</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/service_maintenance/v1/"
                   title="Service: Maintenance">Service: Maintenance</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/service_recalls/v1/"
                   title="Service: Recalls">Service: Recalls</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/service_safety/v2/"
                   title="Service: Safety">Service: Safety</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/content_ratings_and_reviews/v2/"
                   title="Content Ratings and Reviews">Content: Ratings and Reviews</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/vehicle/content_letter_grade/v2/"
                   title="Content: Letter Grade Rating">Content: Letter Grade Rating</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ PATH }}/api-documentation/editorial/" title="Editorial API">Editorial API</a>
        <ul>
            <li>
                <a href="{{ PATH }}/api-documentation/editorial/articles/v2/" title="Articles">Articles</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/editorial/editor_reviews/v1/" title="Editor Reviews">Editor Reviews</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/editorial/expert_content/v3/" title="Expert Content">Expert Content</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ PATH }}/api-documentation/inventory/" title="Inventory API">Inventory API</a>
        <ul>
            <li>
                <a href="{{ PATH }}/api-documentation/inventory/vin_lookup/v1/" title="VIN Lookup">VIN Lookup</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/inventory/vehicle_listings/v2/"
                   title="Vehicle Listings">Vehicle Listings</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ PATH }}/api-documentation/dealer/" title="Dealer API">Dealer API</a>
        <ul>
            <li>
                <a href="{{ PATH }}/api-documentation/dealer/ratings_and_reviews/v1/"
                   title="Ratings and Reviews">Ratings and Reviews</a>
            </li>
            <li>
                <a href="{{ PATH }}/api-documentation/dealer/details_and_location/v2/"
                   title="Details and Location">Details and Location</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ PATH }}/api-documentation/media/" title="Media API">Media API</a>
        <ul>
            <li>
                <a href="{{ PATH }}/api-documentation/media/photos/v2/" title="Photos">Photos</a>
            </li>
        </ul>
    </li>
</ul>