<div class="header-container-wrap">
    <div class="container header-container">
        <div class="row-fluid h1Title no-border">
            <div class="span12">
                <h1>{{ page.title }}</h1>

                <div class="subtitle">Welcome to the API Affiliate Network.<br/> You've been using our data in your
                    applications to add value to your customers. Now you can make money doing it!
                </div>
            </div>
            <span id="h1Title">{{ page.title_parent }}</span>
        </div>
    </div>
</div>


<div class="affiliate-steps-panel">
    <ul>
        <li class="step1">
            <div class="step-image">&nbsp;</div>
            <div class="step-description-wrap">
                <div class="step-number">1</div>
                <div class="step-description">Put a link or banner on your website</div>
            </div>
            <div class="dots-image">&nbsp;</div>
        </li>
        <li class="step2">
            <div class="step-image">&nbsp;</div>
            <div class="step-description-wrap">
                <div class="step-number">2</div>
                <div class="step-description">Your visitors submit a Price Quote on Edmunds.com</div>
            </div>
            <div class="dots-image">&nbsp;</div>
        </li>
        <li class="step3">
            <div class="step-image">&nbsp;</div>
            <div class="step-description-wrap">
                <div class="step-number">3</div>
                <div class="step-description">You get paid!</div>
            </div>
        </li>
    </ul>
</div>

<div class="main-container-wrap">
    <div class="container">
        <section>
            <table border="0" cellspacing="10">
                <tr valign="top">
                    <td>

                        <h3>Who's Eligible?</h3>

                        <p>You are eligible to earn money through the <strong>Edmunds API Affiliate Network</strong> if:
                        </p>
                        <ol>
                            <li>You are a&nbsp;<em>registered API Developer</em> based in the United States</li>
                            <li>Have a web site that attracts visitors who are interested in&nbsp;<em>buying new
                                cars</em></li>
                        </ol>
                        <div class="info-message">
                            <p>The Edmunds API Affiliate Network allows other sites' visitors to interact with car
                                dealers using trusted, established Edmunds.com tools
                                and services.&nbsp;Developers who become Edmunds API Affiliates earn&nbsp;<strong>$8 for
                                    every new car lead form and $5 for every used car lead form </strong>&nbsp;completed on
                                the Edmunds.com site because of their referrals.</p>
                        </div>
                        <h3>Why Join?</h3>

                        <div class="why-join-image-wrap">
                            <div class="why-join-image">&nbsp;</div>
                        </div>
                        <ul class="why-join-list">
                            <li>
                                <div class="why-join-header">Earn Money!</div>
                                <p>This should be a no-brainer :) <br/>Who doesn't like to make money?&nbsp;</p>
                                <ul>
                                    <li>Edmunds.com offers one of the&nbsp;<strong>highest commissions in the automotive
                                        category</strong>.
                                    </li>
                                    <li>Custom commision terms and bonus incentives available to top affiliates.</li>
                                    <li>30-day referral period so that Affiliates earn all commissions they deserve.
                                    </li>
                                    <li>New revenue-generating products for Affiliates will be added to the program
                                        soon.
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <div class="why-join-header">Dedicated Support and Promotional Opportunities</div>
                                <ul>
                                    <li>Affiliate partners have access to a variety of banners, text links and widgets
                                        to support extensive promotion.
                                    </li>
                                    <li>A full-time Edmunds.com employee is dedicated to providing Affiliate partners
                                        with the support they need to optimize placements and increase conversion rates.
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <div class="why-join-header">Partner With Leader in The Field</div>
                                <ul>
                                    <li>Edmunds.com is the number one source of new car leads in the industry.</li>
                                    <li>Since 1966, millions of consumers have turned to Edmunds when car shopping.</li>
                                    <li>Edmunds.com is the most comprehensive source of automotive information available
                                        to consumers.
                                    </li>
                                    <li>Edmunds.com is the Internet's pioneer and leader in providing unbiased
                                        automotive information, tools and services for consumers.
                                    </li>
                                </ul>
                            </li>

                        </ul>


                        <h3>What are The Program Rules?</h3>
                        <ol>
                            <li>Only U.S. based affiliates are accepted into the program.&nbsp;</li>
                            <li>Only websites and apps that are live will be accepted&nbsp; </li>
                            <li>Incentive websites and apps are not eligible to participate&nbsp;</li>
                            <li>Use of the Edmunds.com name and trademark in an email marketing campaign is prohibited&nbsp;</li>
                            <li>Search bidding on the Edmunds trademark or any variation of use of the trademark as
                                title, display URL and description of a paid search listing is prohibited.
                            </li>
                        </ol>
                    </td>
                    <td style="width: 375px; background-color: #fff; padding:20px;border-right: 1px solid #dedede;border-bottom: 2px solid #dedede;">
                        <h3 style="color: #ff6600;">SIGN UP TODAY</h3>

                        <p>Join the Edmunds API Affiliate Network through our trusted third-party affiliate tracking
                            partner, <em>Commission Junction</em>. Please fill out the form below to let us know you're
                            interested in joining the Edmunds API Affiliate Network. A member of our team will contact
                            you <strong>within 2 business days</strong> to give you more details and answer any
                            questions you may have.</p>

                        <p><a id="formAnchor268262605" name="form268262605">&nbsp;</a></p>
                        <script src="http://fs16.formsite.com/include/form/embedManager.js?268262605"
                                type="text/javascript">
                        </script>
                        <script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/script-affiliate.js">
                        </script>
                        <p>Have questions, comments or suggestions?&nbsp;<a href="mailto:APIaffiliates@edmunds.com">Contact
                            the Edmunds API Affiliate Network team</a>.</p><br/>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>

<script type="text/javascript" src="{{ PATH }}/assets/themes/twitter/js/affiliate-scroll.js">
</script>