{% include themes/twitter/title-page.html %}



<div class="container">
	<section>
	    <table border="0" cellspacing="10">
	        <tr valign="top">
	            <td>
	                <strong>Welcome to the API Affiliate Network.</strong> You've been using our data in your applications to add value to your customers. Now you can <strong>make money</strong> doing it!

	                <h3>Who's Eligible?</h3>
	                You are eligible to earn money through the <strong>Edmunds API Affiliate Network</strong> if:
	                <ol>
	                    <li>You are a&nbsp;<em>registered API Developer</em> based in the United States</li>
	                    <li>Have a web site that attracts visitors who are interested in&nbsp;<em>buying new cars</em></li>
	                </ol>
	                The Edmunds API Affiliate Network allows other sites' visitors to interact with car dealers using trusted, established Edmunds.com tools and services.&nbsp;Developers who become Edmunds API Affiliates earn&nbsp;<strong>$5 for every new car lead form</strong>&nbsp;completed on the Edmunds.com site because of their referrals.

	                <h3>Why Join?</h3>
	                There are many reasons to join this program, including:

	                <h4>Earn Money!</h4>
	                This should be a no-brainer :) Who doesn't like to make money?&nbsp;
	                <ul >
	                    <li>Edmunds.com offers one of the&nbsp;<strong>highest commissions in the automotive category</strong>.</li>
	                    <li>Custom commision terms and bonus incentives available to top affiliates.</li>
	                    <li>30-day referral period so that Affiliates earn all commissions they deserve.</li>
	                    <li>New revenue-generating products for Affiliates will be added to the program soon.</li>
	                </ul>
	                <h4>Partner With Leader in The Field</h4>
	                <ul >
	                    <li>Edmunds.com is the number one source of new car leads in the industry.</li>
	                    <li>Since 1966, millions of consumers have turned to Edmunds when car shopping.</li>
	                    <li>Edmunds.com is the most comprehensive source of automotive information available to consumers.</li>
	                    <li>Edmunds.com is the Internet's pioneer and leader in providing unbiased automotive information, tools and services for consumers.</li>
	                </ul>
	                <h4>Dedicated Support and Promotional Opportunities</h4>
	                <ul >
	                    <li>Affiliate partners have access to a variety of banners, text links and widgets to support extensive promotion.</li>
	                    <li>A full-time Edmunds.com employee is dedicated to providing Affiliate partners with the support they need to optimize placements and increase conversion rates.</li>
	                </ul>
	                <h3>What are The Program Rules?</h3>
	                <ol>
	                    <li>Only U.S. based affiliates are accepted into the program.&nbsp;</li>
	                    <li>Only websites and apps that are live will be accepted&nbsp; </li>
	                    <li>Incentive websites and apps are not eligible to participate&nbsp;</li>
	                    <li>Use of the Edmunds.com name and trademark in an email marketing campaign is prohibited&nbsp;</li>
	                    <li>Search bidding on the Edmunds trademark or any variation of use of the trademark as title, display URL and description of a paid search listing is prohibited. </li>
	                </ol>
	            </td>
	            <td style="width: 400px; background-color: #f9f9f9; padding:20px;">
	                <h3 style="color: #ff6600;">SIGN UP TODAY</h3>
	                Join the Edmunds API Affiliate Network through our trusted third-party affiliate tracking partner, <em>Commission Junction</em>.
	                Please fill out the form below to let us know you're interested in joining the Edmunds API Affiliate Network. A member of our team will contact you <strong>within 2 business days</strong> to give you more details and answer any questions you may have.
	                <p><a id="formAnchor268262605" name="form268262605"></a></p>
	                <script src="http://fs16.formsite.com/include/form/embedManager.js?268262605" type="text/javascript"></script>
	                <script type="text/javascript">// <![CDATA[
	                EmbedManager.embed({
	                	key: "http://fs16.formsite.com/res/showFormEmbed?EParam=B6fiTn%2BRcO5Wl5DZLjdZaGrYe2Y6sJfY&268262605",
	                	width: "100%"
	                });
	                // ]]></script>
	                Have questions, comments or suggestions?&nbsp;<a href="mailto:APIaffiliates@edmunds.com">Contact the Edmunds API Affiliate Network team</a>.<br />
	            </td>
	        </tr>
	    </table>
	</section>
</div>

