<footer class="footerLayout navbar row-fluid" data-test="test">

	<div class="container">

	 <div class="span6 social">

	    <nav class="navbar-inner">
	      <ul class="nav">
	        <li><a href="https://www.facebook.com/pages/Edmunds-Tech/137391762982030" title="Facebook" target="_blank"><img src="{{ PATH }}/assets/themes/twitter/img/icon_facebook.gif" alt="Facebook"></a></li>
	        <li><a href="http://twitter.com/edmundsapi" title="Twitter" target="_blank"><img src="{{ PATH }}/assets/themes/twitter/img/icon_twitter.gif" alt="Twitter"></a></li>
	        <li><a href="https://plus.google.com/u/0/b/105527916415108686169/105527916415108686169/posts" title="Google +"><img src="{{ PATH }}/assets/themes/twitter/img/icon_google_plus.gif" alt="Google +" target="_blank"></a></li>
	      </ul>
	      <p class="visible-desktop">Connect with us on Facebook, Twitter and Google+</p>
	    </nav>

	  </div>

	  <div class="span6 footerLinks">

	    <nav class="navbar-inner">
	      <ul class="nav">
	        <li><a href="http://developer.edmunds.com/terms_of_service.html" title="Terms of use">Terms of use</a></li>
	        <li><a href="http://developer.edmunds.com/api_branding_guide.html" title="API Branding Guide">API Branding Guide</a></li>
	        <li><a href="http://developer.edmunds.com/special_requirements.html" title="Special Requirements">Special Requirements</a></li>
	        <li><a href="http://developer.edmunds.com/contact_us.html" onclick="window.open(this.href,  null, 'height=1155, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact us</a></li>
	      </ul>
	    </nav>

	  </div>

	</div>

</footer>