<footer class="footerLayout navbar row-fluid">

	<div class="container">

	 <div class="span6 social">

	    <nav class="navbar-inner">
	      <ul class="nav">
	        <li><a href="https://www.facebook.com/pages/Edmunds-Tech/137391762982030" title="Facebook" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_facebook.gif" alt="Facebook"></a></li>
	        <li><a href="http://twitter.com/edmundsapi" title="Twitter" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_twitter.gif" alt="Twitter"></a></li>
	        <li><a href="#" title="Google +"><img src="{{ ASSET_PATH }}/img/icon_google_plus.gif" alt="Google +" target="_blank"></a></li>
	      </ul>
	      <p class="visible-desktop">Connect with us on Facebook, Twitter and Google+</p>
	    </nav>

	  </div>

	  <div class="span6 footerLinks">

	    <nav class="navbar-inner">
	      <ul class="nav">
	        <li><a href="{{ PATH }}/terms_of_service/index.html" title="Terms of user">Terms of use</a></li>
	        <li><a href="http://edmunds.mashery.com/io-docs" title="API Explorer">API Explorer</a></li>
	        <li><a href="{{ PATH }}/api_branding_guide/index.html" title="API Branding Guide">API Branding Guide</a></li>
	        <li><a href="mailto:api@edmunds.com" title="Contact us">Contact us</a></li>
	      </ul>
	    </nav>

	  </div>

	</div>

</footer>