<div class="container wrapperTopHeader">
    <header class="topHeader">
            <div class="row-fluid">
                <div class="span2">
                    <a href="{{ PATH }}/index.html" title="Edmunds" class="topLogo">&nbsp;</a>
                </div>
                <div class="span10 navbar">

                <a class="linkGetStart" href="/api-documentation/overview/index.html" title="Get started">Get started</a>

	            <nav class="navbar-inner headerLinks">
	              <div class="register">
	                <img src="{{ PATH }}/assets/themes/twitter/img/icon_user.gif" alt="User">
	                <a href="http://edmunds.mashery.com/member/my-account" title="Sign in">My Account</a>
	                <span>or</span>
	                <a href="http://edmunds.mashery.com/member/register/" title="Register">Register</a>
	              </div>
	              <ul class="nav">
	                <li><a href="http://edmunds.mashery.com/io-docs" title="Blog">API Console</a></li>
	                <!--<li><a href="http://edmunds.mashery.com/forum" title="Forum">Forum</a></li>-->
	                <li><a href="http://edmunds.statuspage.io" title="API Affiliate Network">API Status</a></li>
					<!--<li><a href="{{ PATH }}/api_affiliate_network/" title="API Affiliate Network">Affiliate Network</a></li>-->
					<li><a href="https://tier3.wufoo.com/forms/q8wdmmf0iah3h4/" onclick="window.open(this.href,  null, 'height=1155, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact Us</a></li>
					<li><a href="{{ PATH }}/terms_of_service/index.html" title="Terms of user">Terms of Service</a></li>
					<li><a href="{{ PATH }}/api_branding_guide/index.html" title="API Branding Guide">API Branding Guide</a></li>
					<li><a href="{{ PATH }}/faq.html" title="FAQ">FAQ</a></li>
	              </ul>
	            </nav>

	            <nav class="navbar-inner headerMenu">
	              <ul class="nav">

	              	{% for weight in (1..4) %}
					  {% for p in site.pages %}
					    {% if p.weight == weight %}
					      <li>
					        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}" title="{{ p.title_parent }}">
					          {{ p.title_parent }}
					        </a>
					      </li>
					    {% endif %}
					  {% endfor %}
					{% endfor %}

	              </ul>
	            </nav>

	          </div>



	         </div>

	</header>
</div>