<div class="container wrapperTopHeader">
	<header class="topHeader">
			<div class="row-fluid">
	          <div class="span2">
	            <a href="{{ PATH }}/index.html" title="Edmunds" class="topLogo">&nbsp;</a>
	          </div>

	          <div class="span10 navbar">

				<a class="linkGetStart" href="/api-documentation/overview/index.html" title="Get started">Get started</a>

	            <nav class="navbar-inner headerLinks">
	              <div class="register">
	                <img src="{{ ASSET_PATH }}/img/icon_user.gif" alt="User">
	                <a href="http://edmunds.mashery.com/member/my-account" title="Sign in">My Account</a>
	                <span>or</span>
	                <a href="http://edmunds.mashery.com/member/my-account" title="Register">Register</a>
	              </div>
	              <ul class="nav">
	                <li><a href="{{ PATH }}/faq.html" title="FAQ">FAQ</a></li>
	                <li><a href="{{ PATH }}/blog/index.html" title="Blog">Blog</a></li>
	                <li><a href="http://edmunds.mashery.com/forum" title="Forum">Forum</a></li>
	                <li><a href="http://edmunds.statuspage.io" title="API Affiliate Network">API Status</a></li>
					<li><a href="/api_affiliate_network/" title="API Affiliate Network">API Affiliate Network</a></li>
					<li><a href="{{ PATH }}/terms_of_service/index.html" title="Terms of user">Terms of use</a></li>
	              </ul>
	            </nav>

	            <nav class="navbar-inner headerMenu">
	              <ul class="nav">

	              	{% for weight in (1..4) %}
					  {% for p in site.pages %}
					    {% if p.weight == weight %}
					      <li>
					        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}" title="{{ p.title_parent }}">
					          {{ p.title_parent }}
					        </a>
					      </li>
					    {% endif %}
					  {% endfor %}
					{% endfor %}

	              </ul>
	            </nav>

	          </div>



	         </div>

	</header>
</div>