<div>
	<div class="section1">&nbsp;</div>

	<div class="section2">&nbsp;</div>

	<div class="section3 row-fluid">
		<div class="container">
			<div class="span6">&nbsp;</div>
			<div class="span6">
				<h2>What can be built with APIs?</h2>
				<p class="slide-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium dolor eget condimentum lobortis. Ut et nisl rutrum, lacinia ligula quis, feugiat tellus. Duis lobortis quam ut gravida laoreet. In adipiscing neque non felis scelerisque, eu euismod massa porttitor. Sed in odio a orci elementum ultricies.
				</p>
				<a href="#" class="standart-btn">Learn More</a>
			</div>
		</div>
	</div>

	<div class="section4">
		<div class="container">
			<h2>How does it work?</h2>
			<div class="row-fluid">
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-document">&nbsp;</i>
					</span>
					<h4>documentation</h4>
				</div>
				<p>
					Organized around resources, code samples with syntax highlights, easy to explore.	
				</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-inspector">&nbsp;</i>
					</span>
					<h4>inspector</h4>
				</div>				
				<p>
					Users can make API calls through edmunds online support, we show them how they differ from documentation.
				</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-community">&nbsp;</i>
					</span>
					<h4>community</h4>
				</div>	
				<p>
					Opensource your API documentation on GitHub. The right channel between developers on both side of the API.
				</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-test">&nbsp;</i>
					</span>
					<h4>always tested!</h4>
				</div>	
				<p>
					The documentation is always watching your real API and tells you whenever it gets out of sync.
				</p>
			</div>
			</div>
		</div>
	</div>

	<div class="section5">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					<h2>What's new?</h2>
				</div>

				<div class="span6">
					<h2>Most popular faqs</h2>
					<ul class="faq-links">
						<li>What is an API?</li>
						<li>Why has Edmunds decided to make its content/data available for outside users?</li>
						<li>Do I have to pay to use the Edmunds API?</li>
						<li>Can I use the Edmunds API for my business?</li>
					</ul>
					<a href="#" class="standart-btn">View All</a>
				</div>
			</div>
		</div>		
	</div>
</div>