<div class="container">
	<div class="row">
		<div class="span12">
			<h1 class="titleMainPage">WELCOME TO THE EDMUNDS API</h1>
		</div>
	</div>
</div>

<div class="wrapperMainPage">
	<div class="section1">

			<div class="container">
				<div class="VideoPlayer">
					<div class="wrapperVideo">
						<object width="594" height="334"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" />
							<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=65923039&amp;force_embed=1&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=1&amp;color=ffffff&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
							<embed src="http://vimeo.com/moogaloop.swf?clip_id=65923039&amp;force_embed=1&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=1&amp;color=ffffff&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="594" height="334"></embed>
						</object>			
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<p>The vast majority of the automotive data that powers Edmunds.com's <a href="http://www.edmunds.com" target="_blank">website</a>, <a href="https://itunes.apple.com/us/app/edmunds-car-reviews-prices/id393630966?mt=8" target="_blank">iOS app</a>, <a href="https://play.google.com/store/apps/details?id=com.edmunds" target="_blank">Android app</a> and tools has been made available to the larger developer community for <span style="color:#bf2e37;">FREE</span>.</p>
						<h3>Get started in <span>3 simple steps!</span></h3>
						<ul class="steps clearfix">
							<li><a href="http://edmunds.mashery.com/member/register/" title="Register for an account">
								1<span>REGISTER FOR A KEY</span>
							</a></li>
							<li><a href="/api-documentation/overview/index.html" title="Browse documentation">
								2<span>BROWSE THE DOCS</span>
							</a></li>
							<li><a href="http://edmunds.mashery.com/io-docs" title="Obtain an API Key">
								3<span>MAKE LIVE API CALLS!</span>
							</a></li>
						</ul>
					</div>
					<div class="span5">&nbsp;</div>
				</div>
			</div>
		</div>

	<div class="section2">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="wrapperIcons">
						    <ul class="nav nav-tabs" id="myTab">
							    <li class="active">
							    	<a href="#vehical">
							    		<img src="{{ PATH }}/assets/themes/twitter/img/iconTabVehical.png" alt="Vehical API" />
							    		Vehicle API
							    	</a>
							    </li>
							    <li>
							    	<a href="#editorial">
							    		<img src="{{ PATH }}/assets/themes/twitter/img/iconTabEditorial.png" alt="Editorial API" />
							    		Editorial API
							    	</a>
							    </li>
							    <li>
							    	<a href="#dealer">
							    		<img src="{{ PATH }}/assets/themes/twitter/img/iconTabDealer.png" alt="Dealer API" />
							    		Dealer API
							    	</a>
							    </li>
							    <li>
							    	<a href="#inventory">
							    		<img src="{{ PATH }}/assets/themes/twitter/img/iconTabInventory.png" alt="Inventory API" />
							    		Inventory API
							    	</a>
							    </li>
						    </ul>
						    <span class="arrow">&nbsp;</span>
					     </div>
					    <div class="tab-content">
						    <div class="tab-pane  in active" id="vehical">
						    	<p>This API encompasses a wide variety of <em>vehicle-centric</em> datasets including <strong>vehicle specs</strong> (e.g. make and model names, trim, options, colors, equipment, engine, MPG, ...etc), consumer ratings and reviews, stock photos, vehicle pricing and maintenance schedules just to name a few. The API has the <em>biggest dataset</em> Edmunds.com has to offer.</p>
						    	<div class="moreInf"><a href="/api-documentation/vehicle/" title="Vehical API">View Documentation</a><img src="{{ PATH }}/assets/themes/twitter/img/iconPublic.png" alt="API Access" title="API Access"/> Public | Partner | Edmunds</div>
						    </div>
						    <div class="tab-pane " id="editorial">
						    	<p>This API offers access to Edmunds.com's automotive articles and vehicle editorial reviews, including video reviews, vehicle pros, vehicle cons, safety and performance reviews.</p>
						    	<div class="moreInf"><a href="/api-documentation/editorial/" title="Editorial API">View Documentation</a><img src="{{ PATH }}/assets/themes/twitter/img/iconPublic.png" aalt="API Access" title="API Access"/>  Public | Partner | Edmunds</div> 
						    </div>
						    <div class="tab-pane " id="dealer">
						    	<p>This API gives access to dealerships location and identity data as well as their consumer ratings and reviews.</p>
						    	<div class="moreInf"><a href="/api-documentation/dealer/" title="Dealer API">View Documentation</a><img src="{{ PATH }}/assets/themes/twitter/img/iconPublic.png" alt="API Access" title="API Access"/>  Public | Partner | Edmunds</div>
						    </div>
						    <div class="tab-pane " id="inventory">
						    	<p>This API enables vehicle inventory search and inventory VIN lookup.</p>
						    	<div class="moreInf"><a href="/api-documentation/inventory/" title="Inventory API">View Documentation</a><img src="{{ PATH }}/assets/themes/twitter/img/iconPublic.png" alt="API Access" title="API Access"/> Partner | Edmunds</div>
						    </div>
					    </div>
					     
					     
					    <script>
					        $('#myTab a').click(function (e) {
							    e.preventDefault();
							    $(this).tab('show');
							    
							    //moving arrow
							    
							    var hrefLink = $(this).attr('href');
							    
							    var classArrow = hrefLink.substr(1);

								var arrow = $('.arrow');							    

							   	arrow.removeAttr('class');
							    
							    arrow.addClass('arrow '+ classArrow +'');
							    
							    
						    })
						    
					
					    </script>
					</div>
				</div>
			</div>
		</div>

	<div class="section3 row-fluid">
		<div class="container">
			<div class="span6">
				<div class="app-picture pic-slide0 active" data-slide-number="0">&nbsp;</div>
				<div class="app-picture pic-slide1" data-slide-number="1">&nbsp;</div>
				<div class="app-picture pic-slide2" data-slide-number="2">&nbsp;</div>					
			</div>

			<div class="span6">
				<h2>Built with the Edmunds API</h2>

				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item" data-item-number="0">
							<p class="slide-text">
								The <strong><a href="https://itunes.apple.com/us/app/auto-rates-payment-calculator/id650824792">Bankrate Auto app</a></strong> uses the Vehicle API's True Market Value® and True Cost to Own® resources to help consumers find their next car and figure how much it will cost to own it. <strong>Bankrate</strong> uses Edmunds.com TMV® (True Market Value®) and TCO® (True Cost to Own®) as the standard pricing guide to help assist their consumers make smart decision about their next car purchase.
							</p>
							<a href="https://itunes.apple.com/us/app/auto-rates-payment-calculator/id650824792" target="_blank" class="standart-btn">Download App</a>
						</div>
						<div class="item" data-item-number="1">
							<p class="slide-text">
								<strong><a href="http://www.nexteppe.com" target="_blank">Nexteppe</a></strong> Business Solutions <a href="https://itunes.apple.com/us/app/incontrol-pro/id616157646">Vehicle Appraisal app</a> uses an array of API resources. It presents the Edmunds.com TMV® (True Market Value®) within a pre-printed hangtag with dealer's incentives and service coupon.
							</p>
							<a href="https://itunes.apple.com/us/app/incontrol-pro/id616157646" class="standart-btn" target="_blank">Download App</a>
						</div>
						<div class="item" data-item-number="2">
							<p class="slide-text">
								The New Car Configurator is a configurable widget that enables automotive consumers to build and configure a car, price it out and submit a request for a price quote to local dealers. The widget is self-contained and easily embeddable through a few simple lines of Javascript.
							</p>
							<a href="http://widgets.edmunds.com/carconfig/v1" class="standart-btn" target="_blank">Install Widget</a>
						</div>
					</div>

					<a class="carousel-button left" href="#myCarousel" data-slide="prev">&nbsp;</a>
  					<a class="carousel-button right" href="#myCarousel" data-slide="next">&nbsp;</a>
					<ol class="carousel-indicators">
					  	<li data-target="#myCarousel" data-slide-to="0" class="active">&nbsp;</li>
					  	<li data-target="#myCarousel" data-slide-to="1">&nbsp;</li>
					   	<li data-target="#myCarousel" data-slide-to="2">&nbsp;</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="section4">
		<div class="container">
			<h2>THE API ECOSYSTEM</h2>
			<div class="row-fluid">
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-document">&nbsp;</i>
					</span>
					<h4>Docs and Console</h4>
				</div>
				<p>
					The <a href="/api-documentation/overview/">docs</a> are organized around API resources, code samples with syntax highlights, while the <a href="http://edmunds.mashery.com/io-docs">console</a> is for making <em>live API calls</em>!
				</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-inspector">&nbsp;</i>
					</span>
					<h4>FAQs</h4>
				</div>				
				<p>
					If the docs couldn't answer your questions, the <a href="/faq.html">FAQs</a> probably will. These are some of the most common and frequent questions we get from the community.
				</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-community">&nbsp;</i>
					</span>
					<h4>Community</h4>
				</div>	
				<p>With the <a href="http://edmunds.mashery.com/forum">forum</a> and <a href="https://twitter.com/edmundsapi" target="_blank">Twitter</a>, we encourage the community to engage and help us and each other optimize the use of the Edmunds API</p>
			</div>
			<div class="span3">
				<div class="column-head">
					<span class="wrap-icon">
						<i class="icon-test">&nbsp;</i>
					</span>
					<h4>Github</h4>
				</div>	
				<p>SDKs, widgets and everything else we do, including this very portal, is on <a href="https://github.com/EdmundsAPI/" target="_blank">Github</a>.</p>
			</div>
			</div>
		</div>
	</div>

	<div class="section5">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					<h2>What's new?</h2>
					<a href="https://twitter.com/EdmundsAPI" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @EdmundsAPI</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					<div class="twitter-wrap">

					    <a class="twitter-timeline" href="https://twitter.com/EdmundsAPI" height="320" data-show-replies="false" data-chrome="nofooter noheader noborders transparent" data-widget-id="354158373475860481">Tweets by @EdmundsAPI</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

					</div>
				</div>

				<div class="span6">
					<h2>Most Asked Questions</h2>
					<ul class="faq-links">
						<li><a href="{{ PATH }}/faq.html#faq-1">What is an API?</a></li>
						<li><a href="{{ PATH }}/faq.html#faq-2">Why has Edmunds decided to open up the data?</a></li>
						<li><a href="{{ PATH }}/faq.html#faq-5">How much does it cost to use the API?</a></li>
						<li><a href="{{ PATH }}/faq.html#faq-6">Can I use the data for commercial purposes?</a></li>
					</ul>
					<a href="{{ PATH }}/faq.html" class="standart-btn">View All</a>
				</div>
			</div>
		</div>		
	</div>
</div>

<script type="text/javascript">
		
    $('.carousel').carousel({
	    pause: true,
		interval: false
    });

    $('.carousel').on('slide', function(event) {
    	var slideNumber = $(event.relatedTarget).data('itemNumber');
    	$('.app-picture.active').fadeOut(500, function() {
    		$(this).removeClass('active');
    		$('[data-slide-number="'+ slideNumber +'"]').addClass('active');    			
    	});
    	$('[data-slide-number="'+ slideNumber +'"]').fadeIn(500);
    });

</script>