

		<div class="wrapNextPrev">
			<a href="#" id="prevMenuItem">Previous</a>
			
			<a href="#" id="nextMenuItem">Next</a>
		</div>	




{% comment %} <!-- Script for left navigation "Next" & "Previos" --> {% endcomment %}
<script type="text/javascript">
	$(function(){

		var $arrayMenuItems = $('.multiLevelMenu').find('a');
		var lengthItems = $arrayMenuItems.length-1;

		for(var i=0; i<=lengthItems; i++) {
			if($arrayMenuItems.eq(i).hasClass('active')){
				var activeItem = i;
			}
		}
		
		//var indexParent = $('.multiLevelMenu').find('a.active').index();
		
		//if(indexParent == lengthItems) {
		//	$('#nextMenuItem').attr("disable", "disabled").css('color', '#bbb');
		//} else if(indexParent == 0) {
		//	$('#prevMenuItem').attr("disable", "disabled").css('color', '#bbb');
		//}
				
		var nextItem = $arrayMenuItems.eq(activeItem+1).attr('href');
		var prevItem = $arrayMenuItems.eq(activeItem-1).attr('href');
		
		if(activeItem == lengthItems){
			
			$('#nextMenuItem').attr("disable", "disabled").css('color', '#bbb');
		} else if (activeItem == 0) {
			
			$('#prevMenuItem').attr("disable", "disabled").css('color', '#bbb');
		}
		
		//"Next"
		$('#nextMenuItem').bind('click.next', function(event){
			
			if(activeItem != lengthItems){
				console.log('next#1 ' + activeItem);
				$(this).removeAttr("disable").removeAttr('style');
				window.location.href = nextItem;
					
				
			} else {
				
				console.log('next#2 ' + activeItem);
				$(this).attr("disable", "disabled").css('color', '#bbb');
				event.preventDefault();
				
			}
	
		});
		
		//"Previos"
		$('#prevMenuItem').bind('click.prev', function(event){
			
			if(activeItem != 0){
				console.log('prev#1 ' + activeItem);
				$(this).removeAttr("disable").removeAttr('style');
				window.location.href = prevItem;
				
				
				
			} else {
				console.log('prev#2 ' + activeItem);
				$(this).attr("disable", "disabled").css('color', '#bbb');
				event.preventDefault();
			}
	
		});

	});
</script>














     
	
