<div class="container contentPage postPage">

  <div class="container">
    <div class="row-fluid h1Title">
      <div class="span12"><h1>{{ page.page_title }}</h1></div>
    </div>
  </div>

  <div class="row lineVertical">
    <div class="span2">&nbsp;</div>
    <div class="span10">&nbsp;</div>
  </div>

  <div class="row-fluid innerContentPage">
    <div class="span12">
      <div class="span2">
        {% include themes/twitter/blog/blog-menu.html %}
      </div>
      <div class="span10">
 
        {% include themes/twitter/blog/blog-post.html %}

        <div class="pagination">
          <ul>
            {% if page.previous %}
              <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
            {% else %}
              <li class="prev disabled"><a>&larr; Previous</a></li>
            {% endif %}
              <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
            {% if page.next %}
              <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
            {% else %}
              <li class="next disabled"><a>Next &rarr;</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


